@charset "UTF-8";

   
   #mainbody{
      position: relative;
      margin-left: 165px;
   }
   
   #mainbody .menu{
      margin-left: 140px;
      background-color: blue;
   }
   
   .mainmenu-li{
   background-color: #7c6ee9;
   width: 120px;
   float: left;
   padding: 0px;
   margin: 0px;
   margin-top: 5px;
   margin-left: 5px;
   color: white;
   text-align: center;
   border-radius:50px;
   padding: 7px;
   border:1px solid #7c6ee9;
   }
   .mainmenu-li a {
   color: white;
   }

   .mainmenu-li:hover{
   color: black;
   background-color: white;
   border:1px solid #7c6ee9;
   width: 120px;
   }
   
   #mainmenu-li-1{
   	margin-left: 150px;
   }