<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
			<!-- hair alias -->
				<typeAlias type="kr.co.mypet.hair.model.HairBoardVo" alias="hairBoardVo"/>
				<typeAlias type="kr.co.mypet.hair.model.PetStyleVo" alias="styleVo"/>
			
			<!-- hair alias -->
	
	
			<typeAlias type="kr.co.mypet.insurance.model.AccidentVo" alias="accidentVo"/>
			<typeAlias type="kr.co.mypet.insurance.model.InsPaymentVo" alias="insPayVo"/>
			<typeAlias type="kr.co.mypet.insurance.model.InsProdVo" alias="insProdVo"/>
			<typeAlias type="kr.co.mypet.insurance.model.InsuranceNoticeVo" alias="insNoticeVo"/>
			<typeAlias type="kr.co.mypet.insurance.model.InsuranceVo" alias="insVo"/>
			<typeAlias type="kr.co.mypet.insurance.model.InsurancePageVo" alias="inspageVo"/>
			<typeAlias type="kr.co.mypet.common.model.MypetVo" alias="mypetVo"/>
			<typeAlias type="kr.co.mypet.common.model.MemberVo" alias="memVo"/>
			<typeAlias type="kr.co.mypet.shopping.model.ShopNoticeVo" alias="snotVo"/>
			<typeAlias type="kr.co.mypet.sitter.model.PetSitterVo" alias="pstVo" />
			<typeAlias type="kr.co.mypet.sitter.model.ZipVo" alias="zipVo" />
			<typeAlias type="kr.co.mypet.insurance.model.InsshoppingVo" alias="insShVo"/>
			<typeAlias type="kr.co.mypet.common.model.PetkindVo" alias="petkindVo"/>
			<typeAlias type="kr.co.mypet.sitter.model.FaqVo" alias="fVo"/>
			<typeAlias type="kr.co.mypet.shopping.model.ProdVo" alias="prodVo"/>
			<typeAlias type="kr.co.mypet.shopping.model.ProddvVo" alias="pddVo"/>
			<typeAlias type="kr.co.mypet.hair.model.HairShopVo" alias="hairShopVo"/>
			<typeAlias type="kr.co.mypet.shopping.model.DivisionVo" alias="dvsVo"/>
			<typeAlias type="kr.co.mypet.common.model.AccountVo" alias="accountVo"/>
	</typeAliases>

  <mappers>
  	 <mapper resource="kr/co/mypet/config/db/petIns.xml"/>
  	 <mapper resource="kr/co/mypet/config/db/member.xml"/>
  	 <mapper resource="kr/co/mypet/config/db/shopping.xml"/> 
  	 <mapper resource="kr/co/mypet/config/db/petSitter.xml" />
  	 <mapper resource="kr/co/mypet/config/db/petHair.xml" />
  </mappers>
</configuration>