@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

.moveTop{
	position: fixed;
	left: 85%;
	bottom: 60px;
	width: 50px;
	height: 50px;
	
}

.moveTop img{
	width: 40px;
	
}

.mainmenu-li {
	background-color: #b13737;
	width: 150px;
	float: left;
	padding: 0px;
	margin: 0px;
	margin-top: 5px;
	margin-left: 5px;
	color: white;
	text-align: center;
	border-radius: 50px;
	border: 1px solid #b13737;
	font-family: 'Nanum Gothic', sans-serif;
}

.mainmenu-li:hover {
	color: black;
	background-color: white;
	border: 1px solid #ffba00;
	width: 150px;
	font-family: 'Nanum Gothic', sans-serif;
}

.mainmenu-li a {
	padding: 10px;
	color: white;
	font-family: 'Nanum Gothic', sans-serif;
	display: block;
}

.mainmenu-li a:hover {
	padding: 10px;
	color: black;
	font-family: 'Nanum Gothic', sans-serif;
	display: block;
}

#petSitterMenu {
	height: 70px;
	margin: 0 auto;
}

#menu {
	margin : 0 auto;
	width : 900px;
	height : 70px;
}

.menuWord{
	font-size : 15px;
	letter-spacing: -0.5px;
	
}

#mainmid {
		width : 1200px;
		margin: 0 auto;
		overflow: hidden;
	}
	
#shopAddr{
	width : 100%;
	height: 50px;
	box-sizing: border-box;
	
}	

#shopList{
	width: 300px;
	height: 720px;
	float: left;
	box-sizing: border-box;
	overflow-y: scroll;
	overflow-x: hidden;
	
	
}

#shopDetail {
	width: 900px;
	height: 720px;
	float: left;
	box-sizing: border-box;
	overflow-y: scroll;
	overflow-x: hidden;
	
}

#shopList::-webkit-scrollbar{
	display: none;
	
}

#shopDetail::-webkit-scrollbar{
	display: none;
	
	
}
	
.zipSelect {
	margin-top: 5px;
	width: 200px;
	height: 40px;
	border-radius: 10px;
	font-size: 18px;
}

.zipSelect:focus {
	outline:0;
	
}

#zipMent{
	margin-left: 50px;	
	margin-top: 10px;
	float: left;
	width: 250px;
	font-size: 20px;
}

.innerMent{
	margin-left: 5px;
	margin-top: 5px;
	float: left;
	
}

.innerMent img {
	width: 30px;
	height: 30px;
	
}

#zipCon{
	width: 600px;
	float: left;
	
}

.shopProfile {
	width: 280px;
	height: 150px;
	border: 2px solid #ff8868;
	margin-top: 7px;
	
}

.profileLeft {
	box-sizing : border-box;
	width: 139px;
	height: 150px;
	float: left;
	
}

.profileRight {
	box-sizing : border-box;
	width: 139px;
	height: 150px;
	float: left;
	
}

.profileShopNm{
	width: 100%;
	height: 30px;
	font-size: 14px;
	background-color: #ff8868;
	color: white;
	text-align: center;
	padding-top: 5px;
}

.profileText{
	width: 100%;
	font-size: 13px;
	color: #8A4B08;
	padding-top: 3px;
	
	
}
	
.profileImgBlock {
	box-sizing : border-box;
	width: 139px;
	height: 110px;
}	

.profileImgBlock img{
	max-width: 139px;
	max-height: 110px;
	
}

	
.profileScore {
	box-sizing : border-box;
	width: 139px;
	height: 40px;
	text-align: center;
	padding-top: 7px;
}

#sdHead{
	width: 95%;
	height: 50px;
	background-color: #E6E6E6;
	border: 4px dashed #848484;
	border-radius: 20px;
}

.sdHeadCom{
	float: left;
	box-sizing:border-box;
	font-size: 22px;
	font-weight: bold;
	margin-top: 5px;
	
}

.shopName {
	width: 500px;
	margin-left: 5px;	
	color: #585858;	
}

.shopScore{
	width: 150px;
	color: black;	
}

.bookMark {
	color: white;
	width: 170px;
	text-align: center;
	border-radius: 10px;
	background-color: #FF8868;
	border: 4px solid #E6E6E6;
	
}

.bookMark:hover {
	background-color: white;
	border: 4px solid #FF8868;
	color: #FF8868;
}
	
.imgBlock{
	width: 100%;
	height: auto;
}	
	
.shopImg{
	width: 850px;
	box-sizing: border-box;
}

.shopImg img {
	width: 840px;
	max-height: 550px;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 20px;
	
}

.shopBtnBlock{
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	
}

.shopBtn{
	color: white;
	font-size: 18px;
	text-align: center;
	width: 100px;
	height: 22px;
	margin-top: 15px;
	margin-left: 15px;
	border: 4px solid white;
	float:left;
	border-radius: 10px;
	background-color: #FF8868;
	
}

.shopBtn:hover {
	color: #FF8868;
	background-color: white;
	border: 4px solid #FF8868;
	
}

.revShop {
	margin-left: 380px;
	
}
	
.shopDetail{
	height: 30px;
	width: 100%;
	
}	
	
.shopDetail p {
	color: #848484;
	margin-left: 10px;
	width: 50%;
	font-size: 18px;
	padding-left: 20px;
	font-family: 'Jeju Gothic', sans-serif;
	border-bottom: 2px solid #848484;
}	

.shopLoc{
	width: 100%;
	height: 400px;
	
}

.shopEx{
	width: 100%;
	height: 300px;
	
}

.shopStyle{
	width: 100%;
	height: auto;
	
	
}	

.shopRvHd{
	width: 100%;
	height: auto;
	font-size: 18px;
	border-bottom : 2px solid black;
	padding-top: 10px;
	padding-bottom: 10px;	
}

.scorespan{
	margin-left: 300px;
	
}

#map {
	margin-top: 10px;
	border-radius: 10px;
	
}
	
	
.styleBlock{
	width: 750px;
	height: 650px;
	text-align: center;
	
}

.styleBlock img{
	object-fit: cover;
	width:600px;
	height: 600px;
	border-radius: 20px;
	
}

.styleBlock span {
	font-size: 18px;
	
}
	
	
.askInput{
	margin-top: 10px;
	margin-bottom: 20px;
	display: none;
	width: 100%;
	height: auto;
	
	
}

.asktt {
	width: 100%;
	height: auto;
	
}


.asktt p {
	color: #848484;
	margin-left: 10px;
	width: 50%;
	font-size: 18px;
	padding-left: 20px;
	font-family: 'Jeju Gothic', sans-serif;
	border-bottom: 2px solid #848484;
	
}

.askInputBox {
	width: 100%;
	height: auto;
	
}

.askInputBox textarea {
	margin-top: 10px;
	width: 50%;
	height: 150px;
	
}

.askBtn{
	color: white;
    font-size: 18px;
    text-align: center;
    width: 100px;
    height: 36px;
    margin-top: 5px;
    margin-left: 15px;
    border: 4px solid white;
    border-radius: 10px;
    background-color: #FF8868;
	
}
	
.askBtn:hover {
	color: #FF8868;
	background-color: white;
	border: 4px solid #FF8868;
	
}
	
	


	
	
	
	
	