@charset "UTF-8";

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

#mainmid{
	font-family: 'Jeju Gothic', sans-serif;
	
}

.mpLeft{
	box-sizing: border-box;
	width: 25%;
	height: 800px;
	float: left;
	
}

.mpMain{
	box-sizing: border-box;
	width: 75%;
	height: 800px;
	float: left;
	overflow: scroll;
	
}

.mpMain::-webkit-scrollbar{
	display: none;
	
}

.mpMain p {
	color: #848484;
	margin-left: 10px;
	width: 50%;
	font-size: 18px;
	padding-left: 20px;
	font-family: 'Jeju Gothic', sans-serif;
	border-bottom: 2px solid #848484;
	margin-top: 30px;
	
}

.mpleftBlock{
	text-align: center;
	border: 4px solid #ff8868;
	border-radius: 10px;
	width: 80%;
	height: 30px;
	background-color: #ff8868;
	margin-top: 10px;
	margin-left: 20px;
	padding-top: 3px;
}

.mpleftBlock a {
	font-size: 24px;
	color: white;
	
	
}

.mpleftBlock:hover{
	border: 4px solid #ff8868;
	background-color: white;
	
}

.mpleftBlock:hover .ina{
	color: #ff8868;
	
	
}

.statTable{
	margin-left: 10px;
	margin-top: 20px;
	width: 80%;
	font-size: 16px;
	border-collapse: collapse;
}

.statTable th{
	height: 50px;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	text-align: left;
}
.statTable td{
	text-align: left;
	height: 50px;
	border-bottom: 2px solid black;
	
}

.askBlock {
	margin-top: 30px;
	margin-left: 30px;
	font-size: 18px;
	width: 90%;
	height: auto;
	border-bottom: 4px solid black;
	
}

.askTop{
	padding-top: 5px;
	border-top: 4px solid black;
	width: 100%;
	height: 60px;
	border-bottom: 1px solid gray;
	
}
.askTop img{
	margin-top: 3px;
	margin-left: 5px;
	width: 20px;
	height: 20px;
	
}

.askText{
	margin-top: 5px;
	width: 100%;
	height: 200px;
	overflow: scroll;
	border-bottom: 1px solid gray;
	margin-bottom: 10px;
	
}

.askText::-webkit-scrollbar{
	display: none;
	
}

.arrowimg{
	box-sizing: border-box;
	float: left;
	width: 30px;
	heigth: 80px;
	
}

.askAnw {
	margin-top: 20px;
	margin-left: 20px;
	box-sizing: border-box;
	width: 80%;
	height: 80px;
	
	
}


.bmList{
	border-bottom: 4px solid grey;
	width: 100%;
	height: 150px;
	
}

.bmImg{
	width: 200px;
	height: auto;
	float: left;
}
.bmImg img{
	width: 100%;
	max-height: 150px;
}

.bmRight{
	margin-top: 20px;
	margin-left: 20px;
	width: 500px;
	height: auto;
	float: left;
	
}

.bmName{
	font-size: 24px;
	width: 100%;
	height: 60px;	
	
}

.bmAddr{
	font-size: 20px;
	width: 100%;
	heigth: 60px;
	
}


.historyta{
	width: 90%;
	height: 80px;
	margin-top: 5px;
	resize: none;
}


.historyte{
	width: 70%;
	
}

.arr {
	margin-top: 5px;
	margin-left: 132px;
	width: 30px;
}

.reviewHide{
	vertical-align: top;
	display: none;
}

.resContent{
	cursor:pointer;
	
}


.historyBtn{
	background-color: #ff8868;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	cursor: pointer;
	
}

.historyBtn:hover{
	background-color: white;
	color: #ff8868;
	border: 1px solid #ff8868;
	
}


.starR{
  background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
  background-size: auto 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-indent: -9999px;
  cursor: pointer;
}
.starR.on{background-position:0 0;}

.bmName a {
	display: block;
	width: 250px;
	float:left;
	
}

.bmName img {
	float:left;
	width: 30px;
	cursor: pointer;
	
	
}

[data-tooltip-text]:hover {
	position: relative;
}

[data-tooltip-text]:hover:after {
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.8);

	-webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	color: #FFFFFF;
	font-size: 12px;
	content: attr(data-tooltip-text);

  margin-bottom: 10px;
	top: 130%;
	left: 0;    
	padding: 7px 12px;
	position: absolute;
	width: auto;
	min-width: 70px;
	max-width: 300px;
	word-wrap: break-word;

	z-index: 9999;
}

.mpMainSi{
	box-sizing: border-box;
	width: 75%;
	height: 800px;
	float: left;
	overflow: scroll;
	
}

.mpMainSi::-webkit-scrollbar{
	display: none;
	
}

.mpMainSi p {
	color: #848484;
	margin-left: 10px;
	width: 50%;
	font-size: 18px;
	padding-left: 20px;
	font-family: 'Jeju Gothic', sans-serif;
	border-bottom: 2px solid #848484;
	margin-top: 30px;
	
}

.shopInfo{
	margin-top: 10px;
	width: 890px;
	height: 700px;
}

.shopInfo img {
	width: 300px;
	max-height: 300px;
	
}

.shopStyleInfo{
	margin-top:30px;
	width: 890px;
	height: auto;
}

.htext{
	width: 600px;
	height: 70px;
	resize: none;	
}

.updateList{
	width: 100%;
	height: 70px;
}

.upTitle{
	padding-top: 10px;
	text-align: center;
	background-color: #f1f1f1;
	border-radius: 10px;
	width: 130px;
	height: 30px;
	float: left;
}

.upInput{
	padding-top:5px;
	width: 700px;
	float:left;
}

#submitBtn{
	margin-top: 10px;
	margin-left: 600px;
	
}
#submitBtnS{
	margin-top: 10px;
	margin-left: 400px;
	
}
#submitBtnA{
	margin-top: 10px;
	margin-left: 400px;
	
}

.updateListCtn{
	padding: 5px;
	width: 880px;
	height: auto;
	background-color: #dccccc;
	border-radius: 20px;
	
}

.upInput input{
	border-radius: 5px;
	
}

.upInput textarea{
	border-radius: 10px;
	
}

.upTitleS{
	text-align: center;
	background-color: #f1f1f1;
	border-radius: 10px;
	width: 130px;
	height: 100px;
	float: left;
}

.upTitleS img{
	margin-top: 10px;
	width: 90px;
	max-height: 80px;
}

.updateListS{
	width: 100%;
	height: 105px;
}

.upInputS{
	padding-top:5px;
	height: 100px;
	width: 70%;
	float:left;
}

.updateListCtnS{
	padding: 5px;
	width: 500px;
	height: auto;
	background-color: #dccccc;
	border-radius: 20px;
	
}




























