@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);


/*전체*/
#main {
	width: 1200px;
	height: 0 auto;
	margin: 0 auto;
	margin-bottom: 20px;
}


/*펫보험 소개*/
#introduction{
    margin: 0 auto;
    height: 0 auto;
   }


/*로그인 페이지*/
#loginBox{
	margin: 0 auto;
	height: 657px;
	display:flex;
	justify-content:center;
	align-items:center;
}

#loginBox2{
	width: 500px;
	height : 300px;
	border-radius : 20px;
	background-color: #eff0f2;
}

#loginBox2Write{
	font-size: 20px;
	text-align: center;
	font-family: 'Jeju Gothic', sans-serif;
	width:100%;
	height:215px;
	display:flex;
	justify-content:center;
	align-items:center;
}

#loginBoxOk{
    width:100%;
    height: 100px;
}

#loginBoxOk2{
	width: 500px;
	height: 85px;
	color: blue;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
	border:none;
	font-size: 25px;
	font-family: 'Jeju Gothic', sans-serif;
}



   
/*상품안내*/

#productRecommendation {
	background-image: url("/img/petInsurance/petPatten.jpg");
	border-radius: 50px;
	height: 150px;
	border: 3px dashed #7c6ee9;
	width: 900px;
	margin-left: 130px;
}

#write {
	margin-left: 120px;
}

#product {
	margin-top: 50px;
}

#inputBox {
	margin-left: 350px;
	margin-top: -70px;
	width: 400px;
}
#productBtn {
	background-color: #7c6ee9;
	color: white;
	width: 240px;
	height: 35px;
	margin-top: 10px;
	border-radius: 50px;
	font-size: 17px;
}

#productBtn:focus {
	outline: none;
}

#productBtn:hover {
	background-color: white;
	color: #7c6ee9;
	width: 240px;
	height: 35px;
	margin-top: 10px;
	border-radius: 50px;
	border :2px solid #7c6ee9;
	font-size: 17px;
	outline: none;
}
#checkbox{
	height: 30px;
}

#birth{
	height: 30px;
}


#petSelect{
	width: 100px;
	height : 25px;
	margin-left: 10px;
}

#disease{
	height: 24px;
}

#date1{
	width: 213px;
	margin-right: 10px;
}

/* 체크박스 스타일주기 */

/* Customize the label (the container) */
.container {
	display: block;
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	font-size: 17px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	float: left;
	margin-right: 10px;

}

#disease1{
	float: left;
	margin-right: 10px;
}

/* Hide the browser's default radio button */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: white;
	border-radius: 50%;
	border: 1px solid #7c6ee9;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: white;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #7c6ee9;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}


/*상품안내 - 조회기준 스타일*/
#lookup{
	margin-top: 20px;
	width : 1200px;
}

#condition{
	margin-left: 130px;
	height: 50px;
    width: 900px;
    background-color:#f2f2f2;
	border: 3px dashed #9b9b9b;
	border-radius: 30px;
}

#condition1{
	padding-left: 190px;
	padding-top: 10px;
}

#label1{
	float: left;
	margin-right: 180px;
	font-size: 17px;
	display: block;
    font-size: 1.5em;
    font-weight: bold;
}

.label2{
	margin-right: 10px;
	font-size: 17px;
}

.laber3{
	background-color: lightgray;
	color: black;
	font-size: 17px;
}

/*상품리스트*/
#productList{
	margin-top: 30px;
}

.tr1{
	height: 25px;
	text-align: center;
}


.tabel1{
	width: 165px;
	text-align: center;
	background-color: #e0ecff;
	
}

a.no-uline { text-decoration:none }


/*테이블*/

a:visited {
	font-weight:bold;
	text-decoration:none;
}
a:active,
a:hover {
	color: #bd5a35;
}


table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:14px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:15px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child{
	text-align: center;
	padding-left:20px;
}
table tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr{
	text-align: center;
	padding-left:20px;
}
table tr td:first-child{
	border-left: 0;
}
table tr td {
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}


table tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td{
	border-bottom:0;
}
table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}


/*보험상품안내 리스트 - 페이징 처리*/
#pagenation{
	margin-top: 20px;
}

#pagenation ul {
	list-style:none;
	float:left;
	display:inline;
	height: 35px;
}

#pagenation1{
	height: 35px;
	margin: 0 auto;
	display: table;
}
#pagenation ul li {
	float:left;
}
#pagenation ul li a {
	float:left;
	padding:4px;
	margin-right:5px;
	width:20px;
	color:#000;
	font:bold 15px tahoma;
	border:1px solid #eee;
	text-align:center;
	text-decoration:none;
}
#pagenation ul li a:hover, ul li a:focus {
	color:#fff;
	border:1px solid #7c6ee9;
	background-color:#7c6ee9;
}

/* 보험상품 상세 목록 나오는 부분 */
#detail{
	width: 1200px;
	height: 0 auto;
	
}

#detailtop{
	width: 1200px;
	height: 50px;
	margin-bottom: 10px;
}

#prodInfo{
	width: 20px;
	float: left;
}
.prodInfo1{
	margin-top:-10px;
	height: 50px;
	width: 50px;
}

#detailName{
	float: left;
	margin-left: 50px;
	font-size: 25px;
}

#list{
	margin-left: 1040px;
}

#listButton{
	background-color: #fafafa;
	height: 50px;
	border-radius: 50px;
	width: 150px;
	border: 1px solid #c6c6c6;
}

#detailWrite{
	background-color:#fff6dd;
	height: 300px;
	background-image: url("/img/petInsurance/back.jpg");
	box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
	border: 1px solid #fff6dd;
}

#detailWrite1{
	margin-left: 330px;
	margin-top: 30px;
	width: 700px;
	height : 200px;
	font-size: 30px;
	font-family: 'Nanum Pen Script', cursive;
}

.dWclass{
	margin-bottom: 15px;
}

.whiteLb{
	background-color: white;
}

#dWlabel{
	margin-right: 150px;
}

#dWlabel1{
	margin-right: 100px;
}

#dWlabel2{
	margin-right: 162px;
}

#dWlabel3{
	margin-right: 190px;
}

#dWlabel4{
	margin-right: 138px;
}



#plan{
	margin-left: 950px;
}

#planButton{
	background-color: #7c6ee9;
	height: 30px;
	border-radius: 50px;
	width: 200px;
	border: 2px solid #7c6ee9;
	color: white;
	font-size: 20px;
}

#planButton:hover{
	background-color: white;
	height: 30px;
	border-radius: 50px;
	width: 200px;
	border: 2px solid #7c6ee9;
	color: black;
	font-size: 20px;
}

#insuranceGuide{
	width: 1200px;
	height: 50px;
	background-color: #ffcc33;
	margin-top: 10px;
}

#insuranceGuide a{
	color: white;
}

#insuranceGuide a:hover{
	color: black;
}

#insuranceGuide2{
	background-color: #fafafa;
	border: 3px dashed #ffcc33;
	border-top : none;
	text-align: center;
	margin-top: 5px;
	height: 30px;
}

#idDiv{
	margin-left: 230px;
}

#ig1 ,#ig2 ,#ig3  {
	width: 200px;
    float: left;
} 

#igBt,#igBt2 ,#igBt3 ,#igBt4 {
	font-family: 'Nanum Pen Script', cursive;
	font-size: 40px;
	background-color: #ffcc33;
}    

#prodImg{
	width: 1200px;
}



/* 플랜정보*/

#petInfoTable{
	width: 1200px;
	height: 0 auto;
	margin-top: 10px;
}

#petInfoTableTop{
	width: 1200px;
	height: 60px;
}

#pettitle{
	width: 450px;
	height: 50px;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 50px;
	background-color: #fff6dd;
	text-align: center;
	float: left;
	border-radius:3px;
  	box-shadow:3px 3px 3px 3px #999;
  	border-right: none;
}

#petInsert2{
	height: 50px;
	width: 150px;
	float: left;
}

#petDelete{
	height: 50px;
    width: 200px;
    float: left;
    margin-left: 5px;
}

#petdBtn{
	width: 150px;
	background-color: white;
	height: 30px;
	border-radius: 50px;
	border: 2px solid #41d0ce;
	color: black;
	font-size: 16px;
	margin-top: 15px;
	cursor: pointer;

}

#petdBtn:hover{
	width: 150px;
	background-color: #41d0ce;
	height: 30px;
	border-radius: 50px;
	border: 2px solid #41d0ce;
	color: white;
	font-size: 16px;
}



#petBtn{
	float: left;
	margin-left: 395px;
}


#prodBtn{
	float: left;
	margin-left: 220px;
}

#petIsBtn{
	width: 150px;
	background-color: white;
	height: 30px;
	border-radius: 50px;
	border: 2px solid #41d0ce;
	color: black;
	font-size: 16px;
	margin-top: 15px;
	cursor: pointer;
}

#insuranceJoin{
	width: 200px;
    height: 50px;
    float: left;
}

#insuranceJoinBtn{
    width: 170px;
    background-color: white;
    height: 30px;
    border-radius: 50px;
    border: 2px solid #41d0ce;
    color: black;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 10px;
}

#insuranceJoinBtn:hover{
    width: 170px;
    background-color: #41d0ce;
    height: 30px;
    border-radius: 50px;
    border: 2px solid #41d0ce;
    color: white;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 10px;
}

#petIsBtn:hover{
	width: 150px;
	background-color: #41d0ce;
	height: 30px;
	border-radius: 50px;
	border: 2px solid #41d0ce;
	color: white;
	font-size: 16px;
}

#petTable{
	width: 1200px;
	height: 0 auto;
	margin-top: 10px;
}

.td2{
	width: 120px;
}


.td3{
	width: 150px;
}

.td4{
	width: 180px;
}

#td5{
	height: 120px;
}


.td6{
	width: 40px;
}

#insuranceProdTable{
	width: 1200px;
	height: 50;
	margin-top: 30px;
	margin-bottom: 53px;
}

#insuranceProdTableTop{
	width: 1200px;
	height: 60px;
	margin-bottom: 10px;
}

#isTitle{
	width: 450px;
	height: 50;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 50px;
	background-color: #fff6dd;
	text-align: center;
	float: left;
	border-radius:3px;
  	box-shadow:3px 3px 3px 3px #999;
  	border-right: none;
}

.tr7{
	width: 100px;
}

.td8{
	width: 140px;
}

.td9{
	width: 200px;
}
.td11{
	width: 80px;
}

.td12{
	width: 110px;
}

#insuranceProdTableTop2{
	background-color: #8e8e8e;
	color: white;
	width: 800px;
	margin-top: 15px;
	height: 30px;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 30px;
}

#insuranceProdTableTop3{
	background-color: #1d9dd3;
	color: white;
	width: 800px;
	margin-top: 15px;
	height: 30px;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 30px;
}

#pettitle2{
	background-color: #8e8e8e;
	color: white;
	width: 800px;
	margin-top: 5px;
	height: 30px;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 30px;
}

#insuranceProdInsert{
	width : 150px;
	height: 50px;
	float: left;
}
#insuranceProdDelete{
	width : 150px;
	height: 50px;
	float: left;
}

#insuranceProdIsBtn{
	width: 150px;
	background-color: white;
	height: 30px;
	border-radius: 50px;
	border: 2px solid #41d0ce;
	color: black;
	font-size: 16px;
	margin-top: 15px;
	
}

#insuranceProdIsBtn:hover{
	width: 150px;
	background-color: #41d0ce;
	height: 30px;
	border-radius: 50px;
	border: 2px solid #41d0ce;
	color: white;
	font-size: 16px;
}

#td11{
	height: 100px;
}

#insuranceProdDlBtn{
	width: 150px;
	background-color: white;
	height: 30px;
	border-radius: 50px;
	border: 2px solid #41d0ce;
	color: black;
	font-size: 16px;
	margin-top: 15px;
	margin-left: 5px;
	
}

#insuranceProdDlBtn:hover{
	width: 150px;
	background-color: #41d0ce;
	height: 30px;
	border-radius: 50px;
	border: 2px solid #41d0ce;
	color: white;
	font-size: 16px;
}

/*체크박스*/

.activeCb
{ background-color: #666666; }


input[name="cb1"]+label {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #bcbcbc;
	cursor: pointer;
}

input[name="cb1"]:checked+label {
	background-color: #666666;
}


input[name="cb1"] {
	display: none;
}


input[name="cb2"]+label {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #bcbcbc;
	cursor: pointer;
}

input[name="cb2"]:checked+label {
	background-color: #666666;
}


input[name="cb2"] {
	display: none;
}

.prodPlanAdd {
	background-color: #8e8e8e;
    color: white;
}