@charset "UTF-8";

   /*보험 메뉴 스타일*/
   .mainmenu-li{
   background-color: #7c6ee9;
   width: 150px;
   float: left;
   padding: 0px;
   margin: 0px;
   margin-top: 5px;
   margin-left: 5px;
   color: white;
   text-align: center;
   border-radius:50px;
   border:1px solid #7c6ee9;
   font-family: 'Nanum Gothic', sans-serif;
   
   }
   
   .mainmenu-li:hover{
   color: black;
   background-color: white;
   border:1px solid #7c6ee9;
   width: 150px;
   border-radius:50px;
   font-family: 'Nanum Gothic', sans-serif;
   
   }

   .mainmenu-li a {   
   	padding: 10px;
	color: white;
	border-radius:50px;
	font-family: 'Nanum Gothic', sans-serif;
	display: block;
   }
   
   .mainmenu-li a:hover {
	padding: 10px;
	color: black;
	background-color: white;
	font-family: 'Nanum Gothic', sans-serif;
	display: block;
   }
   
   #petInsuranceHeader{
  	height: 70px;
	margin: 0 auto;
   }

   
   .menuWord{
	font-size : 15px;
	letter-spacing: -0.5px;
	}
