@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);


/*전체*/
#main {
	width: 1200px;
	height: 0 auto;
	margin: 0 auto;
	margin-bottom: 20px;
}


/*펫보험 소개*/
#introduction{
    margin: 0 auto;
    height: 0 auto;
   }


/*로그인 페이지*/
#loginBox{
	margin: 0 auto;
	height: 657px;
	display:flex;
	justify-content:center;
	align-items:center;
}

#loginBox2{
	width: 500px;
	height : 300px;
	border-radius : 20px;
	background-color: #eff0f2;
}

#loginBox2Write{
	font-size: 20px;
	text-align: center;
	font-family: 'Jeju Gothic', sans-serif;
	width:100%;
	height:215px;
	display:flex;
	justify-content:center;
	align-items:center;
}

#loginBoxOk{
    width:100%;
    height: 100px;
}

#loginBoxOk2{
	width: 500px;
	height: 85px;
	color: blue;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
	border:none;
	font-size: 25px;
	font-family: 'Jeju Gothic', sans-serif;
	outline: none;
}



   
/*상품안내*/

#productRecommendation {
	background-image: url("/img/petInsurance/petPatten.jpg");
	border-radius: 50px;
	height: 150px;
	border: 3px dashed #7c6ee9;
	width: 900px;
	margin-left: 130px;
}

#write {
	margin-left: 120px;
}

#product {
	margin-top: 50px;
}

#inputBox {
	margin-left: 350px;
	margin-top: -70px;
	width: 400px;
}
#productBtn {
	background-color: #7c6ee9;
	color: white;
	width: 240px;
	height: 35px;
	margin-top: 10px;
	border-radius: 50px;
	font-size: 17px;
}

#productBtn:focus {
	outline: none;
}

#productBtn:hover {
	background-color: white;
	color: #7c6ee9;
	width: 240px;
	height: 35px;
	margin-top: 10px;
	border-radius: 50px;
	border :2px solid #7c6ee9;
	font-size: 17px;
	outline: none;
}
#checkbox{
	height: 30px;
}

#birth{
	height: 30px;
}


#petSelect{
	width: 100px;
	height : 25px;
	margin-left: 10px;
}

#disease{
	height: 24px;
}

#date1{
	width: 213px;
	margin-right: 10px;
}

/* 체크박스 스타일주기 */

/* Customize the label (the container) */
.container {
	display: block;
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	font-size: 17px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	float: left;
	margin-right: 10px;

}

#disease1{
	float: left;
	margin-right: 10px;
}

/* Hide the browser's default radio button */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: white;
	border-radius: 50%;
	border: 1px solid #7c6ee9;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: white;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #7c6ee9;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}


/*상품안내 - 조회기준 스타일*/
#lookup{
	margin-top: 20px;
	width : 1200px;
}

#condition{
	margin-left: 130px;
	height: 50px;
    width: 900px;
    background-color:#f2f2f2;
	border: 3px dashed #9b9b9b;
	border-radius: 30px;
}

#condition1{
	padding-left: 190px;
	padding-top: 10px;
}

#seach{
	font-size: 17px;
	display: block;
    font-size: 1.5em;
    font-weight: bold;
    float: left;
}

#seach2{
	margin-left: 280px;
}

.label2{
	margin-right: 10px;
	font-size: 17px;
}

.laber3{
	background-color: lightgray;
	color: black;
	font-size: 17px;
}

/*상품리스트*/
#productList{
	margin-top: 30px;
}

.tr1{
	height: 25px;
	text-align: center;
}


.tabel1{
	width: 165px;
	text-align: center;
	background-color: #e0ecff;
	
}

a.no-uline { text-decoration:none }


/*테이블*/

a:visited {
	font-weight:bold;
	text-decoration:none;
}
a:active,
a:hover {
	color: #bd5a35;
}


table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:14px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:15px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child{
	text-align: center;
	padding-left:20px;
}
table tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr{
	text-align: center;
	padding-left:20px;
}

table tr td {
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: white;
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
	
}


table tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td{
	border-bottom:0;
}
table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}


/*보험상품안내 리스트 - 페이징 처리*/
#pagenation{
	margin-top: 20px;
}

#pagenation ul {
	list-style:none;
	float:left;
	display:inline;
	height: 35px;
}

#pagenation1{
	height: 35px;
	margin: 0 auto;
	display: table;
}
#pagenation ul li {
	float:left;
}
#pagenation ul li a {
	float:left;
	padding:4px;
	margin-right:5px;
	width:20px;
	color:#000;
	font:bold 15px tahoma;
	border:1px solid #eee;
	text-align:center;
	text-decoration:none;
}
#pagenation ul li a:hover, ul li a:focus {
	color:#fff;
	border:1px solid #7c6ee9;
	background-color:#7c6ee9;
}

/* 보험상품 상세 목록 나오는 부분 */
#detail{
	width: 1200px;
	height: 0 auto;
	
}

#detailtop{
	width: 1200px;
	height: 50px;
	margin-bottom: 10px;
}

#prodInfo{
	width: 20px;
	float: left;
}
.prodInfo1{
	margin-top:-10px;
	height: 50px;
	width: 50px;
}

#detailName{
	float: left;
	margin-left: 50px;
	font-size: 25px;
}

#list{
	margin-left: 1040px;
}

#listButton{
	background-color: #fafafa;
	height: 50px;
	border-radius: 50px;
	width: 150px;
	border: 1px solid #c6c6c6;
}

#detailWrite{
	background-color:#fff6dd;
	height: 300px;
	background-image: url("/img/petInsurance/back.jpg");
	box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
	border: 1px solid #fff6dd;
}

#detailWrite1{
	margin-left: 330px;
	margin-top: 30px;
	width: 700px;
	height : 200px;
	font-size: 30px;
	font-family: 'Nanum Pen Script', cursive;
}

.dWclass{
	margin-bottom: 15px;
}

.whiteLb{
	background-color: white;
}

#dWlabel{
	margin-right: 150px;
}

#dWlabel1{
	margin-right: 100px;
}

#dWlabel2{
	margin-right: 162px;
}

#dWlabel3{
	margin-right: 190px;
}

#dWlabel4{
	margin-right: 138px;
}



#plan{
	margin-left: 950px;
}

#planButton{
	background-color: #7c6ee9;
	height: 30px;
	border-radius: 50px;
	width: 200px;
	border: 2px solid #7c6ee9;
	color: white;
	font-size: 20px;
}

#planButton:hover{
	background-color: white;
	height: 30px;
	border-radius: 50px;
	width: 200px;
	border: 2px solid #7c6ee9;
	color: black;
	font-size: 20px;
}

#insuranceGuide{
	width: 1200px;
	height: 50px;
	background-color: #ffcc33;
	margin-top: 10px;
}

#insuranceGuide a{
	color: white;
}

#insuranceGuide a:hover{
	color: black;
}

#insuranceGuide2{
	background-color: #fafafa;
	border: 3px dashed #ffcc33;
	border-top : none;
	text-align: center;
	margin-top: 5px;
	height: 30px;
}

#idDiv{
	margin-left: 230px;
}

#ig1 ,#ig2 ,#ig3  {
	width: 200px;
    float: left;
} 

#igBt,#igBt2 ,#igBt3 ,#igBt4 {
	font-family: 'Nanum Pen Script', cursive;
	font-size: 40px;
	background-color: #ffcc33;
}    

#prodImg{
	width: 1200px;
}



/* 플랜정보*/

#petInfoTable{
	width: 1200px;
	height: 0 auto;
	margin-top: 10px;
	
}

#petInfoTableTop{
	width: 1200px;
	height: 60px;
}

#pettitle{
	width: 450px;
	height: 50px;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 50px;
	background-color: #fff6dd;
	text-align: center;
	float: left;
	border-radius:3px;
  	box-shadow:3px 3px 3px 3px #999;
  	border-right: none;
}

#petInsert2{
	height: 50px;
	width: 150px;
	float: left;
}

#petDelete{
	height: 50px;
    width: 200px;
    float: left;
    margin-left: 5px;
}

#petdBtn{
	width: 150px;
	background-color: white;
	height: 30px;
	border-radius: 50px;
	border: 2px solid #41d0ce;
	color: black;
	font-size: 16px;
	margin-top: 15px;
	cursor: pointer;

}

#petdBtn:hover{
	width: 150px;
	background-color: #41d0ce;
	height: 30px;
	border-radius: 50px;
	border: 2px solid #41d0ce;
	color: white;
	font-size: 16px;
}



#petBtn{
	float: left;
	margin-left: 395px;
}


#prodBtn{
	float: left;
	margin-left: 220px;
}

#petIsBtn{
	width: 150px;
	background-color: white;
	height: 30px;
	border-radius: 50px;
	border: 2px solid #41d0ce;
	color: black;
	font-size: 16px;
	margin-top: 15px;
	cursor: pointer;
}

#insuranceJoin{
	width: 200px;
    height: 50px;
    float: left;
}

#insuranceJoinBtn{
    width: 170px;
    background-color: white;
    height: 30px;
    border-radius: 50px;
    border: 2px solid #41d0ce;
    color: black;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 10px;
}

#insuranceJoinBtn:hover{
    width: 170px;
    background-color: #41d0ce;
    height: 30px;
    border-radius: 50px;
    border: 2px solid #41d0ce;
    color: white;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 10px;
}

#petIsBtn:hover{
	width: 150px;
	background-color: #41d0ce;
	height: 30px;
	border-radius: 50px;
	border: 2px solid #41d0ce;
	color: white;
	font-size: 16px;
}

#petTable{
	width: 1200px;
	height: 0 auto;
	margin-top: 10px;
}

.td2{
	width: 120px;
	height: 30px;
}


.td3{
	width: 150px;
}

.td13{
	width: 150px;
	height:150px;
	border-radius: 20px;
}

.td4{
	width: 180px;
}

#td5{
	height: 120px;
}


.td6{
	width: 40px;
}

#insuranceProdTable{
	width: 1200px;
	height: 50;
	margin-top: 30px;
	margin-bottom: 53px;
}

#insuranceProdTableTop{
	width: 1200px;
	height: 60px;
	margin-bottom: 10px;
}

#isTitle{
	width: 450px;
	height: 50;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 50px;
	background-color: #fff6dd;
	text-align: center;
	float: left;
	border-radius:3px;
  	box-shadow:3px 3px 3px 3px #999;
  	border-right: none;
}

.tr7{
	width: 100px;
}

.td8{
	width: 140px;
}

.td9{
	width: 140px;
}
.td11{
	width: 80px;
}

.td12{
	width: 110px;
}

#insuranceProdTableTop2{
	background-color: #8e8e8e;
	color: white;
	width: 1200px;
	margin-top: 15px;
	height: 30px;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 30px;
}

#insuranceProdTableTop3{
	background-color: #1d9dd3;
	color: white;
	width: 1200px;
	margin-top: 15px;
	height: 30px;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 30px;
}

#pettitle2{
	background-color: #8e8e8e;
	color: white;
	width: 1200px;
	margin-top: 5px;
	height: 30px;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 30px;
}

#pettitle3{
	background-color: #1d9dd3;
	color: white;
	width: 1200px;
	margin-top: 15px;
	height: 30px;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 30px;
}

#pettitle4{
	background-color: #1d9dd3;
	color: white;
	width: 1200px;
	margin-top: 15px;
	height: 30px;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 30px;
}

#insuranceProdInsert{
	width : 150px;
	height: 50px;
	float: left;
}
#insuranceProdDelete{
	width : 150px;
	height: 50px;
	float: left;
}

#insuranceProdIsBtn{
	width: 150px;
	background-color: white;
	height: 30px;
	border-radius: 50px;
	border: 2px solid #41d0ce;
	color: black;
	font-size: 16px;
	margin-top: 15px;
	
}

#insuranceProdIsBtn:hover{
	width: 150px;
	background-color: #41d0ce;
	height: 30px;
	border-radius: 50px;
	border: 2px solid #41d0ce;
	color: white;
	font-size: 16px;
}

#td11{
	height: 100px;
}

#insuranceProdDlBtn{
	width: 150px;
	background-color: white;
	height: 30px;
	border-radius: 50px;
	border: 2px solid #41d0ce;
	color: black;
	font-size: 16px;
	margin-top: 15px;
	margin-left: 5px;
	
}

#insuranceProdDlBtn:hover{
	width: 150px;
	background-color: #41d0ce;
	height: 30px;
	border-radius: 50px;
	border: 2px solid #41d0ce;
	color: white;
	font-size: 16px;
}

/*체크박스*/

.activeCb
{ background-color: #666666; }


input[name="cb1"]+label {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #bcbcbc;
	cursor: pointer;
}

input[name="cb1"]:checked+label {
	background-color: #666666;
}


input[name="cb1"] {
	display: none;
}


input[name="cb2"]+label {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #bcbcbc;
	cursor: pointer;
}

input[name="cb2"]:checked+label {
	background-color: #666666;
}


input[name="cb2"] {
	display: none;
}

.prodPlanAdd {
	background-color: #8e8e8e;
    color: white;
}




/*펫추가하는 화면*/
#petInfoInsert{
	width : 1200px;
	height : 820px;	
	margin-bottom: 105px;
}

#petInfoForm{
	width: 800px;
	height: 700px;
	margin: 0 auto;
	margin-top:15px;
}

#petInfoFormTop{
	width: 650px;
	height: 80px;	
	margin: 0 auto;
}

#petInfoTitle{
	font-family: 'Nanum Pen Script', cursive;
	font-size: 50px;
	text-align: center;
	background-color: #ffedf6;
	box-shadow: 3px 3px 3px 3px #999;
	margin-bottom: 10px;
}

#petInfoWrite{
	margin:0 auto;
	height: 750px;
	width:900px;
	background-image: url("/img/petInsurance/post.jpg");
	background-repeat: no-repeat;
	background-size: 900px 750px;
	margin-top: 30px;
	margin-left: 200px;
}

.wr1{
	    font-family: 'Nanum Pen Script', cursive;
	    font-size: 30px;
	    width: 600px;
	    height: 50px;
	    margin: 0 auto;
	    margin-bottom: 15px;
}


#wr1_2{
	margin-left: 150px;
}


#wr1_2_1{
	margin-left: 20px;
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 18px;
	width: 250px;
	text-align: center;
}

.wr1_2_2{
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Nanum Pen Script', cursive;
	background-color: white;
	border: 3px solid white;
	color: black;
	outline: none;
}

.wr1_2_2_1{
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Nanum Pen Script', cursive;
	background-color: white;
	border: 3px solid white;
	color: black;
	outline: none;
}



#wr1_2_1:focus{
	outline: none;
}

#wr3{
	font-size: 17px;
	margin-right: 10px;
	font-family: 'Jeju Gothic', sans-serif;
}

.wr2{
		font-family: 'Nanum Pen Script', cursive;
	    font-size: 30px;
	    height: 50px;
	    margin-bottom: 15px;
	    margin-top: 50px;
	    margin-left: 135px;
}

#petJoin{
	margin-left: 160px;
	background-color: black;
	color: white;
	height: 50px;
	width: 200px;
	border-radius: 20px;
	font-size: 17px;
	outline: none;
}

#petPs{
	margin-left: 15px;
}

#petPr{
	width: 150px;
	height: 150px;
}

#petPrH{
	height: 160px;
}

.ip1{
	height: 30px;
	border-radius: 50px;
	margin-right: 5px;
	outline: none;
}

#womenG{
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 18px;
}

#manG{
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 18px;
}

#petSickY{
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 18px;
}

#petSickN{
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 18px;
}


#wr1_1{
	padding-top: 20px;
}

.genderImg{
	width: 20px;
	margin-left: 15px;
}

#wr3_1{
	width: 20px;
    height: 15px;
}


.petK{
	width: 250px;
	height: 50px;
	margin-top: 10px;
	border-radius: 50px;
	background-color: white;
	border: 3px solid #ff569c;
	color: black;
	font-size: 17px;
	outline: none;
}

#petK1{
	margin-right: 80px;	
}

.activePet { 
	background-color: #7c6ee9; 
	font-family: 'Nanum Pen Script', cursive;
	color: white;
	border: 3px solid #7c6ee9;
}

.activePetKind { 
	width: 250px;
	height: 50px;
	margin-top: 10px;
	border-radius: 50px;
	background-color: #ff569c;
	border: 3px solid #ff569c;
	color: white;
	font-size: 17px;
	outline: none;
}

.wr1_2_3{
	margin-left: 20px;
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 18px;
	width: 280px;
	text-align: center;
	outline: none;
	height: 35px;
    border-radius: 50px;
}

#wr1_2_3{
	margin-left: 20px;
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 18px;
	width: 250px;
	text-align: center;
	outline: none;
	height: 35px;
    border-radius: 50px;
}

#isrCondition{
	color: red;
}






/* 펫 보험가입내용 작성 화면*/
#petJoinForm{
	width: 1200px;
	height: 975px;
}

#petJoinForm2{
	width: 1200px;
	height: 800px;
	margin : 0 auto;
}

#petInfoForm{
	margin-top:10px;
	width: 1200px;
	height: 300px;
}

#petInfoForm1{
	margin-bottom:25px;
	text-align: center;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 50px;
	width: 480px;
    height: 50px;
    background-color: #fff6dd;
    text-align: center;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px #999;
    border-right: none;
}

#petInfoForm2{
	background-color: #ff569c;
	width: 1190px;
	height: 30px;
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	color: white;
	padding: 5px;
}

#petTable2{
	margin-top: 10px;
}

#isrJoinInfo{
	height: 180px;
	margin-top: 35px;
}

#isrJoinInfo2{
	margin-bottom:25px;
	text-align: center;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 50px;
	width: 700px;
    height: 50px;
    background-color: #fff6dd;
    text-align: center;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px #999;
    border-right: none;
}

.isrJoinMem{
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
	background-color: #ffcce7;
	color: white;
	width: 150px;
	border-radius: 50px;
	text-align: center;
	padding: 5px;
}

#isrJoinInfo4{
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 18px;
	margin-left: 10px;
}

.isrJoinInfoLabel{
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 20px;
}



#isrJoinNotice{
	width:1200px;
	height: 200px;
	margin-top: 50px;
}

#isrJoinNotice2{
	margin-bottom:35px;
	margin-top:15px;
	text-align: center;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 50px;
	width: 700px;
    height: 50px;
    background-color: #fff6dd;
    text-align: center;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px #999;
    border-right: none;
}


.isrJoinNotice3{
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 18px;
	margin-bottom: 20px;
	margin-left: 10px;	
}

.isrJoinNotice3_1{
	margin-left: 20px;
	margin-right: 20px;
}

.isrJoinNotice3_1_1{
	margin-left: 20px;
}

#contractorInfo{
	width: 1200px;
	height: 150px;
}

#contractor{
	margin-bottom:35px;
	margin-top:50px;
	text-align: center;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 50px;
	width: 700px;
    height: 50px;
    background-color: #fff6dd;
    text-align: center;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px #999;
    border-right: none;
    border: 1px solid black;
}


#isrJoinBtn{
	width: 1200px;
	height: 50px;
}

#isrJoinBtn2{
	margin: 0 auto;
	width: 200px;
	height: 50px;
	margin-top: 20px;
}

#isrJoinBtn3{
	background-color: black;
	color: white;
	width: 200px;
	height: 50px;
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 18px;
	border-radius: 50px;
	outline: none;
}

#isrJoinInfo3{
	height: 45px;
}

#memJoinName2{
	margin-left: 30px;
}

#memJoinPhone{
	float: left;
	margin-left: 0px;
}

#memJoinPhone2{
	margin-left: 30px;
}

#isrJoinMem1{
	float: left;
}

.isrJoinInfo5{
	height: 45px;
	margin-left: 10px;
}

#isrJoinInfo5_1{
	margin-left: 15px;
}

#selectpet{
	text-align: center;
}

#accountInfo{
	height: 100px;

}


.span1{
	float: left;
    height: 32px;
    line-height: 32px;
}

#memAccidentList{
	width: 1200px;
	height: 100px;
}

#accountInfo1{
	width: 1170px;
	height: 30px;
}

#accountInfo2{
	font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #ffcce7;
    color: white;
    width: 150px;
    border-radius: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    margin-right: 30px;
    
}


.memAccidentSelect{
	height: 30px;
	font-family: 'Jeju Gothic', sans-serif;
    font-size: 17px;
    float: left;
    margin-left: 10px;
}



/*보상안내*/

#guideMain{
	width: 1200px;
	height: 2160px;
}

#guideMain1{
	height: 240px;
}


#compensationBtn{
	height: 80px;
	margin-bottom: 20px;
	margin-top: 5px;
}

#compensationBtn1{
	width: 10850px;
	height: 80px;
	margin-left: 80px;
}


.compensationBtn1_1{
	margin : 0 auto;
	width: 300px;
	height: 70px;
	margin-top: 10px;
	border-radius: 30px;
	background-color: white;
	color: black;
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 25px;
	border: 3px solid #ff569c;
	outline: none;
}

.compensationBtn1_1:hover{
	margin : 0 auto;
	width: 300px;
	height: 70px;
	margin-top: 10px;
	border-radius: 30px;
	background-color: #ff569c;
	color: white;
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 25px;
	border: 3px solid #ff569c;
}

#compensationBtn1_2{
	margin-left: 35px;
}

#guideMain2{
	height: 50px;
	margin-top: 10px;
	background-color : #f9f9f9;
	border: 1px solid #c4c4c4;
}

#guideMain2_1{
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 25px;
	text-align: center;
	margin-top: 10px;
}

#guideMain2_2{
	height: 350px;
	margin-top : 40px;
	text-align : center;
}

#guideMain2_3{
	text-align : center;
}


#guideNotice{
	height: 400px;
	margin-top : 15px;
}

#guideNoticeTitle{
	width: 1200px;
	height: 50px;
	margin-left: 125px;
}

#guideNoticeTitle1{
	width: 450px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 50px;
    background-color: #fff6dd;
    text-align: center;
    float: left;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px #999;
    border-right: none;
}

#guideNotice1{
	height: 300px;
	margin-top: 40px;
}

#guideNotice2_2{
	width: 935px;
	text-align: left;
	background-color: white;
	height: 30px;
	font-size: 15px;
	line-height: 30px;
}

#guideNotice3{
	width: 800px;
	text-align: left;
	background-color: #ffe8f1;
	font-size: 15px;
}



/*인터넷 보험가입 화면*/
#claimMain{
	width: 1200px;
	height: 0 auto;
}

#claimTitle{
	width:1200px;
	height: 60px;
}

#claimTitle1{
	width: 450px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 50px;
    background-color: #fff6dd;
    text-align: center;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px #999;
    border-right: none;	
}

#claimTitle2{
	width: 1200px;
	margin-top: 10px;
}

#claimTitle2_1{
	margin-left: 200px;
	margin-bottom: 10px;
}

#claimTitle3{
	width: 1200px;
	height: 30px;
}

#claimTitle3_1{
	width: 1200px;
	height: 25px;
	background-color: #f9f9f9;
	font-family: 'Jeju Gothic', sans-serif;
    font-size: 25px;
}

#claimTitle3_2{
	margin-left: 20px;
    line-height: 30px;
}

#petInfoTableClaim{
	height: 400px;
}

.claimTitle4{
	width: 1200px;
	height: 30px;
	margin-top: 20px;
}

.claimTitle4_1{
	width: 1200px;
	height: 25px;
	background-color: #f9f9f9;
	font-family: 'Jeju Gothic', sans-serif;
    font-size: 25px;
}

.claimTitle4_2{
	margin-left: 20px;
	line-height: 30px;
}

#claimTitle5{
	height: 40px;
	margin-top : 20px;
}

.claimTitle5_1{
	height: 30px;
}

.claimTitle5_1_1{
	width: 150px;
	margin-left: 10px;
	float: left;
	font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #ffcce7;
    color: white;
    width: 150px;
    border-radius: 50px;
    text-align: center;
    padding: 5px;
	
}

#claimTitle5_2{
	height: 30px;
	margin-top: 15px;
}

#claimTitle5_3{
	height: 30px;
	margin-top: 15px;
}

#claimTitle5_1_2{
	width: 200px;
	height: 32px;
}

#notice{
	width: 1200px;
	height: 30px;
	margin-top : 25px;
}

#notice1{
	width: 600px;
	height: 30px;
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 18px;
	float: left;
}

#nextBtn{
	margin-top:25px;
	margin-bottom:30px;
	width: 1200px;
	height: 50px;
}

#nextBtn1{
	width: 200px;
	height: 50px;
	margin-left: 400px;
	float: left;
}

#nextBtn2{
	background-color: black;
    color: white;
    width: 200px;
    height: 50px;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 18px;
    border-radius: 50px;
    outline: none;
}

#notice2{
	font-family: 'Jeju Gothic', sans-serif;
    font-size: 18px;
}

.noticeY{
	margin-left: 20px;
}


/*보상청구 2번째 화면 */
#claimMain2{
	width: 1200px;
	height: 1200px;
	border: 1px solid black;
}

#claimPetInfo{
	width: 1200px;
	background-color: #ff569c;
    height: 30px;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: white;
    padding: 5px;
}

.option{
	height: 30px;
}

.optionProd{
	height: 30px;
	margin-left: 15px;
}

#accident{
	height: 230px;
	margin-top: 20px;
}


#accident1{
	height: 230px;
	width: 800px;
	margin-left: 10px;
}

.accident2{
	height: 50px;
	width: 800px;
}

.accident2_1{
	width: 150px;
    float: left;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #ffcce7;
    color: white;
    width: 150px;
    border-radius: 50px;
    text-align: center;
    padding: 5px;
}

.accident2_2{
	width: 200px;
	height: 30px;
	margin-left: 180px;
}

.accident2_2_1{
	width: 800px;
	height: 30px;
	margin-left: 180px;
}

.accident2_2_1_1{
	width: 800px;
	height: 100px;
	margin-left: 180px;
}

#accidentInput{
	width: 1000px;
	height: 30px;
	border-radius: 5px;
}

#accidentInput2{
	width: 1000px;
	height: 100px;
}

#claimDay{
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 18px;
	width: 210px;
	text-align: center;
	outline: none;
	height: 30px;
    border-radius: 5px;
}

#insurer{
	width: 1200px;
	height: 50px;
	margin-top: 20px;
}

#insurer1{
	width: 1180px;
	height: 30px;
	margin-left: 10px;
}

.insurer2{
	width: 160px;
    float: left;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #ffcce7;
    color: white;
    width: 150px;
    border-radius: 50px;
    text-align: center;
    padding: 5px;
}

.insurer2_1{
	width: 320px; 
	height: 30px;
	margin-left: 35px;
	float: left;
}

.insurer2_2{
	margin-left: 95px;
	width: 160px;
    float: left;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #ffcce7;
    color: white;
    width: 150px;
    border-radius: 50px;
    text-align: center;
    padding: 5px;
}

.insurer2_3{
	width: 320px; 
	height: 30px;
	margin-left: 805px;
}

.insurer2_4{
	font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

#deposit{
	width: 1200px;
	height: 50px;
	margin-top: 20px;
}


#document{
	width: 1200px;
	height: 200px;
	margin-top: 20px;
}

#document1{
	width: 900px;
	height: 200px;
	margin-left: 10px;
}

#document2{
	width: 900px;
	height: 90px;
}

#document3{
	margin-top: 10px;
	width: 900px;
	height: 90px;
}

.document2_1{
	width: 160px;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #c1c1c1;
    color: white;
    width: 150px;
    border-radius: 50px;
    text-align: center;
    padding: 5px;
	
}

.document2_2{
	width: 500px;
	height: 30px;
	margin-top: 15px;
}

#agree{
	width: 1200px;
	height: 340px;
	margin-top : 20px;
}


#agreeCheck{
	margin-top: 10px;
}

#agreeWrite{
	outline: none;
}



/*파일업로드 css*/
input#upload_text {/*읽기전용 인풋텍스트*/
	float:left;
	width:400px;/* 버튼 포함 전체 가로 길이*/
	height:30px;
	line-height:19px;
	padding:0 3px;
	border:1px solid #bbb;
}

div#upload-btn_wrap input#input_file {/*파일찾기 폼 투명하게*/
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
	opacity:0;
	filter:alpha(opacity=0);
	-ms-filter:"alpha(opacity=0)";
	-moz-opacity:0;
}
div#upload-btn_wrap {/*버튼테두리 감싼 div*/
	overflow:hidden;
	position:relative;
	float:left;
	width:80px;/*width, height 값은 button(찾아보기)값과 같아야함 */
	height:30px;
	padding-left:3px;
}
div#upload-btn_wrap button {/*버튼 div*/
	width:75px;
	height:30px;
	font-weight:bold;
	background:#333;
	border:1px solid #333;
	color:#fff;
	margin-left: 5px;
}

input#upload_text2 {/*읽기전용 인풋텍스트*/
	float:left;
	width:400px;/* 버튼 포함 전체 가로 길이*/
	height:30px;
	line-height:19px;
	padding:0 3px;
	border:1px solid #bbb;
}

div#upload-btn_wrap2 input#input_file2 {/*파일찾기 폼 투명하게*/
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
	opacity:0;
	filter:alpha(opacity=0);
	-ms-filter:"alpha(opacity=0)";
	-moz-opacity:0;
}
div#upload-btn_wrap2 {/*버튼테두리 감싼 div*/
	overflow:hidden;
	position:relative;
	float:left;
	width:80px;/*width, height 값은 button(찾아보기)값과 같아야함 */
	height:30px;
	padding-left:3px;
}
div#upload-btn_wrap2 button {/*버튼 div*/
	width:80px;
	height:30px;
	font-weight:bold;
	background:#333;
	border:1px solid #333;
	color:#fff;
	margin-left: 5px;
}


div#upload-btnPet_wrap input#input_filePet {/*파일찾기 폼 투명하게*/
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
	opacity:0;
	filter:alpha(opacity=0);
	-ms-filter:"alpha(opacity=0)";
	-moz-opacity:0;
}
div#upload-btnPet_wrap {/*버튼테두리 감싼 div*/
	overflow:hidden;
	position:relative;
	float:left;
	width:80px;/*width, height 값은 button(찾아보기)값과 같아야함 */
	height:30px;
	padding-left:3px;
}
div#upload-btnPet_wrap button {/*버튼 div*/
	width:75px;
	height:20px;
	font-weight:bold;
	background:#333;
	border:1px solid #333;
	color:#fff;
	margin-left: 5px;
	border-radius: 20px;
}


/* 나의 펫 보험 페이지 */
#mypetPage{
	width: 1200px;
	height: 0 auto;
}

#mypetPageTitle{
	width: 1200px;
	height: 50px;
}

#mypetPageTitle1{
	width: 450px;
    height: 50px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 50px;
    background-color: #fff6dd;
    text-align: center;
    float: left;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px #999;
    border-right: none;
}

#mypetPage1{
	width: 1200px;
	height: 800px;
	margin-top: 20px;
}

#mypetPage2{
	width: 250px;
	height: 815px;
	float: left;
	border: 2px dotted #808080;
}

#mypetPage3{
	width: 915px;
	height: 815px;
	margin-left: 280px;
}

#mypetPage2_1{
	width: 250px;
	height: 30px;
	background-color : #f9f9f9;
	font-size: 30px;
	font-family: 'Nanum Pen Script', cursive;
	text-align: center;
	border-bottom: 1px solid #808080;
}

#mypetPage2_1_1{
	width: 250px;
	height: 20px;
	background-color : #737373;
	font-family: 'Jeju Gothic', sans-serif;
    font-size: 12px;
	text-align: center;
	border-bottom: 2px dashed #808080;
	line-height: 20px;
	color: white;
}

.mypetPage2_2{
	width: 250px;
	height: 30px;
	margin-top: 10px;
	
}

#mypetPage2_2_1{
	width: 235px;
	height: 30px;
	background-color: #7c6ee9;
	color: white;
	font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    margin-left: 7px;
    outline: none;
    border-radius: 10px;
}

#mypetPage2_3{
	width: 250px;
	height: 600px;
	margin-top: 20px;
}

.mypetPage2_3_1{
	width: 250px;
	height: 130px;
	margin-bottom: 20px;
}

.petImg{
	width: 130px;
	height: 130px;
	margin-left: 60px;
	border: 3px dashed #7c6ee9;
	border-radius: 50px;
}

#mypetPage3_1{
	width: 915px;
	height: 30px;
}

.mypetPage2_3_2{
	font-family: 'Jeju Gothic', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.mypetPage3_1{
	width: 915px;
	height: 30px;
	background-color: #f9f9f9;
}

.mypetPage3_1_1{
	margin-left: 30px;
	font-size: 30px;
    font-family: 'Nanum Pen Script', cursive;
}


#mypetPage3_1_2{
	width: 915px;
	height: 100px;
	margin-top: 10px;
}

#mypetPage3_1_2_1{
	width: 450px;
	height: 100px;
	margin-left: 50px;
	float : left;
}

#mypetPage3_1_2_2{
	width: 240px;
	height: 100px;
	margin-left: 455px;
}

#mypetPage3_1_2_1_1{
	width: 200px;
	height: 100px;
	float: left;
}

#mypetPage3_1_2_1_2{
	width: 240px;
	height: 100px;
	margin-left: 210px;
}

#mypetPage3_1_2_1_1Img{
	width: 100px;
	height: 100px;
	margin-left: 50px;
}

#mypetPage3_1_2_1_2_1{
	height: 40px;
	width: 240px;
	background-color: #efefef;
}

#mypetPage3_1_2_1_2_2{
	font-size: 19px;
    font-family: 'Jeju Gothic', sans-serif;
    margin-left: 12px;
    line-height: 40px;
}


#mypetPage3_1_2_1_2_3{
	font-size: 19px;
    font-family: 'Jeju Gothic', sans-serif;
    line-height: 60px;	
}


.mypetPage3_2{
	width: 915px;
	height: 30px;
	background-color: #ffefef;
    margin-top: 30px;
}

.mypetPage3_2_1{
	margin-left: 30px;
	font-size: 30px;
    font-family: 'Nanum Pen Script', cursive;
}

#mypetPage3_2_3{
	width: 915px;
	height: 200px;
	margin-top: 20px;
}

#mypetPage3_1_2_2_1{
	width: 240px;
    height: 40px;
    margin-left: 140px;
    background-color: #efefef;
}

#mypetPage3_1_2_2_2{
	font-size: 19px;
    font-family: 'Jeju Gothic', sans-serif;
    line-height: 40px;
    margin: 0 auto;
    width: 150px;
    text-align: center;
}

#mypetPage3_2{
	width: 450px;
	height: 60px;
}

#mypetPage3_1_2_3{
	width: 200px;
	height: 60px;
	margin-left: 140px;
}

#mypetPage3_1_2_3_1{
	font-size: 19px;
    font-family: 'Jeju Gothic', sans-serif;
    margin: 0 auto;
    line-height: 60px;
}

#currentStatus{
	width: 800px;
	height: 200px;
}

.currentStatus1{
	height: 30px;
	width: 260px;
	font-size: 15px;
}

#mypetPage4{
	width: 915px;
	height: 600px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#mypetTable{
	width: 800px;
}

.mypetPageBtn{
	width: 915px;
	height: 30px;
    margin-top: 10px;
}

#mypetPageBtn{
	width: 300px;
	height: 30px;
	margin-left: 620px;
}

#mypetPageBtn1{
	width: 130px;
	height: 30px;
	float: left;
	margin-left: 10px;
}

#mypetPageBtn2{
	width: 130px;
	height: 30px;
	margin-left: 160px;
}

.mypetPageBtn1_1{
	background-color: gray;
	color: white;
	width: 130px;
	height: 30px;
	font-size: 16px;
    font-family: 'Jeju Gothic', sans-serif;
    border-radius: 50px;
    border: 1px solid gray;
    outline: none;
}

.mypetPageBtn1_1:hover{
	background-color: white;
	color: gray;
	width: 130px;
	height: 30px;
	font-size: 16px;
    font-family: 'Jeju Gothic', sans-serif;
    border-radius: 50px;
    border: 1px solid gray;
    outline: none;
}

.mypetPage3_3{
	width: 915px;
	height: 25px;
	background-color: #f9efff;
	border: 2px dashed #f9efff;
	box-sizing: border-box;
}

.mypetPage3_2_2{
	margin-left: 30px;
	font-size: 16px;
    font-family: 'Jeju Gothic', sans-serif;
    margin-top: 5px;
	margin-bottom: 10px;
	line-height: 15px;
	color: gray;
}

.isrMoney{
	text-align: center;
	width: 240px;
	height: 60px;
}

.isrApplySize{
	width: 270px;
	height: 120px;
	font-size: 30px;
    font-family: 'Jeju Gothic', sans-serif;
    color: gray;
    cursor:pointer;
    text-decoration:none;
}

.isrApplySize:hover{
	text-decoration: none;
	color: #7c6ee9;
}

#mypetPage4_1{
	width: 915px;
	height: 0 auto;
}

#mypetPage4_2{
	width: 200px;
	height: 200px;
	float:left;
	margin-left:15px;
}

#mypetPage4_3{
	width: 650px;
	height: 200px;
	margin-left: 250px;
}

#mypetPage4_2_1{
	width: 90px;
    height: 20px;
    font-size: 15px;
    font-family: 'Jeju Gothic', sans-serif;
    text-align: center;
    float: left;
    margin-left: 60px;
}


.mypetPage4_3_1{
	width: 650px;
	height: 50px;
	margin-bottom: 10px;
	margin-top: 18px;
}

.mypetPage4_3_2{
	width: 135px;
	height: 30px;
	float : left;
	margin-top: 10px;
	background-color: #ffcce7;
	color: white;
	font-size: 20px;
    font-family: 'Jeju Gothic', sans-serif;
    text-align: center;
    line-height: 30px;
    border-radius: 50px;
}

.mypetPage4_3_2_1{
	width: 165px;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	font-size: 15px;
    font-family: 'Jeju Gothic', sans-serif;
    line-height: 30px;
}

.mypetPage4_3_2_2{
	width: 135px;
	height: 30px;
	float : left;
	margin-top: 10px;
	background-color: #ffcce7;
	color: white;
	font-size: 20px;
    font-family: 'Jeju Gothic', sans-serif;
    text-align: center;
    line-height: 30px;
    border-radius: 50px;
    margin-left: 10px;
}

.mypetPage4_3_2_3{
	width: 180px;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	font-size: 15px;
    font-family: 'Jeju Gothic', sans-serif;
    line-height: 30px;
}

#petInfoMyPet{
	width: 915px;
	height: 284px;
	font-size: 20px;
    font-family: 'Jeju Gothic', sans-serif;
    text-align: center;
    line-height: 300px;
    border: 2px dotted #808080;
    box-sizing: border-box;
    background-color: #fafafa;
}


.mypetPage4_2_2{
	width: 160px;
	height: 160px;
	margin-left: 20px;
}
.mypetPage4_2_2_1{
	width: 160px;
	height: 160px;
	border-radius: 50px;
	border: 3px dashed #ffcce7;
}

#manG2{
	margin-left: 20px;
}

#petSickN2{
	margin-left: 20px;
}

#neuYn{
	font-size: 10px;
    font-family: 'Jeju Gothic', sans-serif;
}

#petUpdateName{
	width: 155px;
	height: 30px;
	outline: none;
	border-radius: 10px;
}

#petBirthSelect{
	width: 155px;
	height: 30px;
	outline: none;	
	border-radius: 10px;
}



/*보험금 신청 현황 (신청)*/

#isrApplyMain{
	width: 1200px;
	height: 0 auto;
}

#isrApplyTitle{
	width: 1200px;
	height: 50px;
}

#isrApplyTitle1{
	width: 450px;
    height: 50px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 50px;
    background-color: #fff6dd;
    text-align: center;
    float: left;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px #999;
    border-right: none;
}

#isrApplyTitle2{
	width: 1200px;
	height: 30px;
	margin-top: 20px;
	background-color: #f9f9f9;
}

#isrApplyTitle2_1{
    font-size: 20px;
    font-family: 'Jeju Gothic', sans-serif;
    margin-left: 30px;	
    line-height: 30px;
}

#isrApplyTitle3{
	width: 1200px;
	height: 30px;
	font-size: 16px;
    font-family: 'Jeju Gothic', sans-serif;
    line-height: 30px;
    background-color: #ffefef;
}

#isrApplyTitle3_1{
	width: 800px;
	height: 30px;
	margin-left: 30px;
	color: gray;
}

#isrApplyTitle3_1_1{
	width: 1200px;
	height: 30px;
	font-size: 16px;
    font-family: 'Jeju Gothic', sans-serif;
    line-height: 30px;
    background-color: #f9efff;
}

#isrApplyTitle3_1_2{
	width: 1040px;
	height: 30px;
	margin-top: 5px;
	margin-left: 30px;
	color: gray;
}

#isrApplyTable{
	width: 1200px;
	margin-top: 20px;
	margin-bottom: 30px;
	min-height: 143px;
}

#isrApplyTable1{
	width: 1200px;
}

#isrApplyBtn{
	width: 1200px;
	height: 30px;
	margin-bottom: 30px;
}

#isrApplyBtn1{
	width: 175px;
	height: 30px;
	margin-left: 835px;
	float: left;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    background-color: #ffcce7;
    color: white;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    border: 2px solid #ffcce7;
    outline: none;
}

#isrApplyBtn1:hover{
	width: 175px;
	height: 30px;
	margin-left: 835px;
	float: left;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    border: 2px solid #ffcce7;
    outline: none;
}

#isrApplyBtn2{
	margin-left: 1035px;
	width: 160px;
	height: 30px;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    background-color: #ffcce7;
    color: white;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    border: 2px solid #ffcce7;
}

#isrApplyBtn2:hover{
	margin-left: 1035px;
	width: 160px;
	height: 30px;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    border: 2px solid #ffcce7;
}

.td1{
	height: 40px;
}

.tdTable3{
	height: 77px;
}

.tdTable4{
	height: 30px;
}

.td5{
	width: 80px;
}

#companionTable{
	width: 1200px;
	margin-top: 20px;
	margin-bottom: 30px;
	min-height: 165px;
}

#completedTable{
	width: 1200px;
	margin-top: 20px;
	margin-bottom: 30px;
	min-height: 165px;
}

#isrApplyBtn0{
	width: 175px;
	height: 30px;
	margin-left: 640px;
	float: left;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    background-color: #ffcce7;
    color: white;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    border: 2px solid #ffcce7;
    outline: none;
}

#isrApplyBtn0:hover{
	width: 175px;
	height: 30px;
	margin-left: 640px;
	float: left;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    border: 2px solid #ffcce7;
    outline: none;
}

#isrApplyBtn1_1{
	width: 175px;
	height: 30px;
	margin-left: 25px;
	float: left;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    background-color: #ffcce7;
    color: white;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    border: 2px solid #ffcce7;
     outline: none;
}

#isrApplyBtn1_1:hover{
	width: 175px;
	height: 30px;
	margin-left: 25px;
	float: left;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    border: 2px solid #ffcce7;
     outline: none;
}

#isrApplyBtn2_1{
	margin-left: 1035px;
	width: 160px;
	height: 30px;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    background-color: #ffcce7;
    color: white;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    border: 2px solid #ffcce7;
     outline: none;
}

#isrApplyBtn2_1:hover{
	margin-left: 1035px;
	width: 160px;
	height: 30px;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    border: 2px solid #ffcce7;
     outline: none;
}

.history2_2_1_1{
	width: 800px;
	height: 100px;
	margin-left: 180px;
}

#history{
	height: 145px;
	margin-top: 20px;
}

.history2_4{
	margin-left: 20px;
	font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

#historyAct{
	width: 330px;
	height: 30px;
	float : left;
	font-family: 'Jeju Gothic', sans-serif;
    font-size: 17px;
    line-height: 30px;
    margin-right: 10px;
}

.history2_2{
	width: 180px; 
	height: 30px;
	margin-left: 80px;
	float: left;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #ffcce7;
    color: white;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
}


#nextBtn1_1{
	width: 200px;
	height: 50px;
	margin-left: 620px;
}

#nextBtn2_1{
	background-color: black;
    color: white;
    width: 200px;
    height: 50px;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 18px;
    border-radius: 50px;
    outline: none;
}

#history2{
	width: 1200px;
	height: 100px;
}

.history2_1{
	width: 160px;
    float: left;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #ffcce7;
    color: white;
    width: 150px;
    border-radius: 50px;
    text-align: center;
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

.history2_1_1{
	width: 320px; 
	height: 30px;
	margin-left: 35px;
	float: left;
	margin-top: 10px;
}

#nextHistoryBtn{
	margin-top:25px;
	margin-bottom:30px;
	width: 1200px;
	height: 50px;
}

#nextHistoryBtn1_1{
	width: 200px;
	height: 50px;
	margin: 0 auto;
}

.history2_4{
	font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-left: 20px;
}

.history3{
	width: 160px; 
	height: 30px;
	margin-left: 80px;
	float: left;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #ffcce7;
    color: white;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
}


/*나의 펫 보험 - 나의 펫 정보 부분에 보험가입 상품 나오세 설정*/
#mypetIsrJoin{
	width: 915px;
    min-height : 448px;
    margin-top: 10px;
}

#mypetIsrJoin1{
	width: 915px;
    height: 30px;
	background-color: #ffefef;
}

#mypetIsrJoin1_1{
	width: 300px;
	height: 30px;
	margin-left: 30px;
	font-size: 16px;
    font-family: 'Jeju Gothic', sans-serif;
    color: gray;
    line-height: 30px;
    text-align: center;
}

#mypetIsrJoin2{
	width: 915px;
    margin-top: 10px;
    min-height : 100px;
}

.mypetTd{
	width: 70px;
}

.mypetTd1{
	width: 125px;
}


#mypetIsrJoin3{
	width: 915px;
    margin-top: 10px;
}

#mypetIsrJoin3_1{
	width: 915px;
	height: 30px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#mypetIsrJoin3_1_1{
	width: 200px;
	height: 30px;
	float: left;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Jeju Gothic', sans-serif;
    text-align: center;
    line-height: 30px;
    border-radius: 50px;
    margin-left: 340px;
}

.mypetTr{
	height: 60px;	
}

#Termination{
	width: 200px;
	height: 30px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Jeju Gothic', sans-serif;
    text-align: center;
    line-height: 30px;
    border-radius: 50px;
    outline: none;
}



/*펫보험 관리자 페이지 css*/

#productManagement{
	width: 1200px;
	height: 0 auto;
}

#productManagement1{
	width: 1200px;
	height: 50px;
	margin-bottom: 30px;
}

#productManagement1_1{
	width: 450px;
    height: 50px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 50px;
    background-color: #fff6dd;
    text-align: center;
    float: left;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px #999;
    border-right: none;
}

#insTitle{
	width: 1200px;
	height: 50px;
	line-height: 50px;
	background-color: #f1f1f1;
	text-align: center;
	font-size: 25px;
    font-family: 'Jeju Gothic', sans-serif;
}

#productManagement2{
	width: 1200px;
	height: 150px;
}

#currentStatus2{
	width: 1000px;
	height: 150px;
}

.isrApplySize{
	width: 270px;
	height: 120px;
	font-size: 20px;
    font-family: 'Jeju Gothic', sans-serif;
    color: gray;
    cursor:pointer;
    text-decoration:none;
}

#insMenu{
	width: 1200px;
	height: 55px;
	line-height: 50px;
	margin-bottom: 20px;
	border: 2px dashed #cecece;
	box-sizing: border-box;
	padding-top: 10px;
}

.insMenu2{
	width: 190px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
    font-family: 'Jeju Gothic', sans-serif;
    text-align: center;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #565656;
    border-radius: 10px;
    color: white;
    outline: none;
}


#insMenu3{
	margin-left: 40px;
}

#insTitle2{
	width: 1200px;
	height: 30px;
	line-height: 30px;
	background-color: #e5ffbf;
	text-align: center;
	font-size: 20px;
    font-family: 'Jeju Gothic', sans-serif;
}

.prod{
	width: 270px;
	height: 120px;
	font-size: 20px;
    font-family: 'Jeju Gothic', sans-serif;
    color: #41c36d;
    text-decoration:none;
}

.prod:hover{
	text-decoration: none;
	color: #41c36d;
}

#adminInsMenu{
	width: 1200px;
	height: 0 auto;
}


#adminInsMenu1{
	width: 1000px;
	height: 600px;
	margin: 0 auto;
	margin-top: 30px;
}

#adminInsMenu1_1{
	width: 1000px;
	height: 300px;
}

#adminInsMenu1_2{
	width: 800px;
	height: 300px;
	margin-left: 160px;
}


.prodManagement{
	width: 280px;
	height: 300px;
	line-height: 300px;
	border-radius: 50%;
	float: left;
	text-align: center;
	margin-right: 20px;
	margin-left: 25px;
	font-size: 25px;
    font-family: 'Jeju Gothic', sans-serif;
    background-color: white;
	border: 3px dashed #ffd242;
	outline: none;
	cursor: pointer;
}

.prodManagement:hover{
	width: 280px;
	height: 300px;
	line-height: 300px;
	border-radius: 50%;
	float: left;
	text-align: center;
	margin-right: 20px;
	margin-left: 25px;
	font-size: 25px;
    font-family: 'Jeju Gothic', sans-serif;
    background-color: #ffd242;
    color : white;
	border: 3px dashed #ffd242;
}


.chk{
	width: 20px;
}

#prodSelectBtn{
	width: 1200px;
	height: 30px;
	margin-top: 15px;
}

#prodSelectBtn1{
	width: 600px;
	height: 30px;
	margin-left: 733px;
}

.prodSelectBtn1_1{
	width: 140px;
	height: 30px;
	float: left;
	margin-right: 10px;
	border-radius: 50px;
	background-color: #ffd242;
	color: white;
	font-size: 18px;
    font-family: 'Jeju Gothic', sans-serif;
    border: 1px solid #ffd242;
    outline: none;
}

.prodSelectBtn1_1:hover{
	width: 140px;
	height: 30px;
	float: left;
	margin-right: 10px;
	border-radius: 50px;
	background-color: white;
	color: black;
	font-size: 18px;
    font-family: 'Jeju Gothic', sans-serif;
    border: 1px solid #ffd242;
}

#prodSelectBtn1_2{
	margin-left: 10px;
}

#petSelect0{
	height: 50px;
	margin-top: 20px;
}

#petSelect1{
	height: 230px;
	width: 400px;
	margin-left: 10px;
}

.petSelect2{
	width: 150px;
    float: left;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #bfbfbf;
    color: white;
    width: 150px;
    border-radius: 50px;
    text-align: center;
    padding: 5px;
}

#prodTitle{
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 18px;
	width: 305px;
	text-align: center;
	outline: none;
	height: 30px;
    border-radius: 5px;
}
#prodFee{
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 18px;
	width: 305px;
	text-align: center;
	outline: none;
	height: 30px;
    border-radius: 5px;
    margin-left: -15px;
}
#insp_maxins{
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 18px;
	width: 120px;
	float: left;
	text-align: center;
	outline: none;
	height: 30px;
    border-radius: 5px;
}

#moneySelcet{
	width: 1200px;
	height: 50px;
	margin-left: -10px;
}

.petSelect3{
	width: 400px; 
	height: 30px;
	margin-left: 35px;
	float: left;
}

.petSelect2_2{
	width: 400px;
	height: 30px;
	margin-left: 180px;
}
#insp_maxins2{
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

#guaranteePeriod{
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 18px;
	width: 120px;
	float: left;
	text-align: center;
	outline: none;
	height: 30px;
    border-radius: 5px;
}

#guaranteePeriod0{
	float: left;
	line-height: 35px;
}

#joinMinins{
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 18px;
	width: 120px;
	float: left;
	text-align: center;
	outline: none;
	height: 30px;
    border-radius: 5px;
}
#joinMaxins{
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 18px;
	width: 120px;
	float: left;
	text-align: center;
	outline: none;
	height: 30px;
    border-radius: 5px;
}

