@charset "UTF-8";

body, option, select{
	font-family: 'Nanum Brush Script', cursive;
}

#body {
	margin: 0 auto;
	width: 1200px;
	position: relative;
}

#petSittingWord {
	width: 100%;
	height: 300px;
	position: absolute;
	top: 155px;
	left: 80px;
	z-index: 1;
	font-size: 35px;
	color: #fff;
	font-weight: bold;
}

#petSittingHome {
	width: 1200px;
	height: 400px;
}

.dimpetSitting {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.2);
	top: 70px;
	left: 0px;
	width: 1200px;
	height: 400px;
	z-index: 1;
}

.mainImg1 {
	width: 1200px;
	height: 400px;
}

.icon-arrow-right {
	vertical-align: middle;
}


#reservation {
	font-size: 30px;
	color: #fff;
	margin-top: 20px;
	width: 250px;
	height: 60px;
	background-color: #33d6af;
	border: none;
	font-family: 'Nanum Brush Script', cursive;
	vertical-align: middle;
}

#petSittingFromHome {
	width: 1200px;
	height: 320px;
	margin-top: 30px;
}

#fromHome1 {
	width: 500px;
	height: 320px;
	margin-left: 150px;
	float: left;
}

.mainImg2 {
	width: 500px;
	height: 320px;
}

#fromHome2 {
	margin-left: 50px;
	margin-top: 50px;
	width: 400px;
	height: 200px;
	font-size: 30px;
	float: left;
}

#petSittingToHome {
	width: 1200px;
	height: 320px;
	margin-top: 30px;
}

#toHome1 {
	margin-left: 150px;
	margin-top: 50px;
	width: 400px;
	height: 200px;
	font-size: 30px;
	float: left;
}

#toHome2 {
	width: 500px;
	height: 320px;
	margin-left: 50px;
	float: left;
}

#fromWord {
	color: #33d6af;
	font-size: 40px;
	font-weight: bold;
}

#detail1 {
	width: 200px;
	height: 50px;
	background-color: #fff;
	border: 1px solid #cecece;
	font-weight: bold;
	font-size: 15px;
}

#postscript {
	width: 1000px;
	margin:0 auto;
	margin-top: 40px;
}

#post {
	text-align: center;
	font-weight: bold;
	font-size: 32px;
	width: 1000px;
	height: 40px;
}

#postImage {
	margin : 0 auto;
	width: 950px;
	height: 370px;
    margin-bottom: 6rem;
}

#pList{
	border : 1px solid red;
	width : 100%;
	height : 330px;
}

.pNotice{
	width : 315px;
	height : 330px;
	float : left;
	
}
.pImg {
	width : 350px;
	height: 250px;
}

#slide{
	width : 100%;
	height:400px;
}

#slide input {
    display: none;
}

#slide_ul{
	margin : 0 auto;
	border : 1px solid pink;
	width : 100px;
	height : 40px;
	
}

#slide .pos {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#pos1:checked ~.pos>label:nth-child(1) {
    background: #666;
}

#pos2:checked ~.pos>label:nth-child(2) {
    background: #666;
}

#slide label {
	border : 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    background: #fff;
    transition: 0.3s;
    border-radius: 50%;
    cursor: pointer;
}


<!-- -->
#searchMain {
	
	width : 100%;
	height : 200px;
}

#regSearch{
	width : 100%;
	height : 60px;
}

#reg{
	margin : 0 auto;
	min-height: 43px;
    border: solid 1px #fbbe53;
    background-color: #f5f5f5;
    font-size: 24px;
    padding-left: 140px;
    padding-top : 17px;
}

#reg > li{
	width : 120px;
	position: static;
	float : left;
	cursor : pointer;
}

.dropdown-menu {
    width: 875px;
    padding: 8px 10px 15px 20px;
    top: 47px;
    border-radius: 0;
    border: solid 1px #f9c25d;
    font-size: 13px;
    background-color : #fff;
    position: absolute;
    
}

#searchList{
	width : 100%;
	border-top : 1px solid black;
	border-bottom : 1px solid black;
}

#list1{
	width : 1000px;
	heigth : 200px;
}

#list2{
	margin-top : 20px;
	width : 100%;
	height : 70px;
}

#list2 > ul > li{
	font-size : 24px;
	margin-right : 40px;
	float : left;
	
}

.service {
	border: 1px solid #c8c8c8;
	font-size : 20px;
    border-radius: 4px;
	padding : 5px;
	outline: none;
}

#listButton{
	padding: 5px 30px 5px 30px;
	font-family : 'Nanum Brush Script', cursive;
	font-size : 25px;
	color : white;
	background-color : #17aaff;
	border-radius: 15px;
	cursor : pointer;
}

#lstBtn{
	color : #fff;
	padding-top: 27px;
}

#petToList{
	width : 100%;
}
#listMenu{
	width : 100%;
	height : 40px;
	border-bottom : 1px solid black;
	
}
#sort{
	float:right;
	font-size : 24px;
	width : 100px;
}

.btn {
	cursor : pointer;
}
#list {
	width : 100%;
}

.notice {
	width : 100%;
	height : 272px;
	border-bottom : 1px solid black;
}

#noticeImg{
	width : 35%;
	height : 270px;
	float:left;
}

#noticeContent{
	width : 65%;
	float : left;
	font-size : 30px;
}

#content1{
	width : 100%;
	height : 120px;
}

#content2{
	width : 100%;
	height : 120px;
}

#content3{
	width : 100%;
	height : 30px;
}

#content4{
	margin-left : 510px;
	float : left;
}

#content5{
	margin-left : 100px;
	float:left;
}

#close{
	width : 12px;
	background-color : #fff;
	margin-left : 888px;
}

.closeBtn{
	background-color : #fff;
	cursor : pointer;
}

#tabs > ul > li{
	font-family : 'Nanum Brush Script', cursive;
	font-size : 25px;
}
