@charset "UTF-8";

body, option, select{
	font-family: 'Nanum Brush Script', cursive;
}

#body {
	margin: 0 auto;
	width: 1200px;
	position: relative;
	border : 1px solid red;
	min-height: 728px;
}

#petSittingWord {
	width: 100%;
	height: 300px;
	position: absolute;
	top: 155px;
	left: 80px;
	z-index: 1;
	font-size: 42px;
	color: #fff;
	font-weight: bold;
	font-family: 'Nanum Brush Script', cursive;
}

#petSittingHome {
	width: 1200px;
	height: 400px;
}

.dimpetSitting {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.2);
	top: 70px;
	left: 0px;
	width: 1200px;
	height: 400px;
	z-index: 1;
}

.mainImg1 {
	width: 1200px;
	height: 400px;
}

.icon-arrow-right {
	vertical-align: middle;
}


#reservation {
	font-size: 30px;
	color: #fff;
	margin-top: 20px;
	width: 250px;
	height: 60px;
	background-color: #33d6af;
	border: none;
	font-family: 'Nanum Brush Script', cursive;
	vertical-align: middle;
}

#petSittingFromHome {
	width: 1200px;
	height: 320px;
	margin-top: 30px;
}

#fromHome1 {
	width: 500px;
	height: 320px;
	margin-left: 150px;
	float: left;
}

.mainImg2 {
	width: 500px;
	height: 320px;
}

#fromHome2 {
	margin-left: 50px;
	margin-top: 50px;
	width: 400px;
	height: 200px;
	font-size: 30px;
	font-family: 'Nanum Brush Script', cursive;
	float: left;
}

#petSittingToHome {
	width: 1200px;
	height: 320px;
	margin-top: 30px;
}

#toHome1 {
	margin-left: 150px;
	margin-top: 50px;
	width: 400px;
	height: 200px;
	font-size: 30px;
	float: left;
	font-family: 'Nanum Brush Script', cursive;
}

#toHome2 {
	width: 500px;
	height: 320px;
	margin-left: 50px;
	float: left;
}

#fromWord {
	color: #33d6af;
	font-size: 40px;
	font-weight: bold;
}

#detail1 {
	width: 200px;
	height: 50px;
	background-color: #fff;
	border: 1px solid #cecece;
	font-weight: bold;
	font-size: 15px;
}

#postscript {
	width: 1000px;
	margin:0 auto;
	margin-top: 40px;
}

#post {
	text-align: center;
	font-weight: bold;
	font-size: 32px;
	width: 1000px;
	height: 40px;
	font-family: 'Nanum Brush Script', cursive;
}

#postImage {
	margin : 0 auto;
	width: 950px;
	height: 370px;
    margin-bottom: 6rem;
}

#pList{
	border : 1px solid red;
	width : 100%;
	height : 330px;
}

.pNotice{
	width : 315px;
	height : 330px;
	float : left;
	
}
.pImg {
	width : 350px;
	height: 250px;
}

#slide{
	width : 100%;
	height:400px;
}

#slide input {
    display: none;
}

.swiper-slide {
	font-family: 'Nanum Brush Script', cursive;
	font-size : 24px;
}

#slide_ul{
	margin : 0 auto;
	border : 1px solid pink;
	width : 100px;
	height : 40px;
	
}

#slide .pos {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#pos1:checked ~.pos>label:nth-child(1) {
    background: #666;
}

#pos2:checked ~.pos>label:nth-child(2) {
    background: #666;
}

#slide label {
	border : 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    background: #fff;
    transition: 0.3s;
    border-radius: 50%;
    cursor: pointer;
}


<!-- -->
#searchMain {
	
	width : 100%;
	height : 200px;
}

#regSearch{
	width : 100%;
	height : 60px;
}

#reg{
	margin : 0 auto;
	min-height: 43px;
    border: solid 1px #fbbe53;
    background-color: #f5f5f5;
    font-size: 24px;
    padding-left: 140px;
    padding-top : 17px;
}

#reg > li{
	width : 120px;
	position: static;
	float : left;
	cursor : pointer;
}

.dropdown-menu {
    width: 875px;
    padding: 8px 10px 15px 20px;
    top: 47px;
    border-radius: 0;
    border: solid 1px #f9c25d;
    font-size: 13px;
    background-color : #fff;
    position: absolute;
    
}

#searchList{
	width : 100%;
	border-top : 1px solid black;
	border-bottom : 1px solid black;
}

#list1{
	width : 1200px;
	heigth : 200px;
	overflow: hidden;
}

#list2{
	margin-top : 20px;
	width : 88%;
	height : 70px;
	font-family: 'Nanum Brush Script', cursive;
	float:left;
}

#list2 > ul > li{
	font-size : 24px;
	margin-right : 40px;
	float : left;
	
}

.service {
	border: 1px solid #c8c8c8;
	font-size : 20px;
    border-radius: 4px;
	padding : 5px;
	outline: none;
}

#listButton{
	padding: 5px 30px 5px 30px;
	font-family : 'Nanum Brush Script', cursive;
	font-size : 25px;
	color : white;
	background-color : #17aaff;
	border-radius: 15px;
	cursor : pointer;
}

#lstBtn{
	color : #fff;
	padding-top: 27px;
}

#petToList{
	width : 100%;
}
#listMenu{
	width : 100%;
	height : 40px;
	border-bottom : 1px solid black;
	
}
#sort{
	float:right;
	font-size : 24px;
	width : 100px;
}

.btn {
	cursor : pointer;
	font-family: 'Nanum Brush Script', cursive;
}
#list {
	width : 100%;
}
.notice {
	width : 100%;
}
td {
	padding : 0px;
	border : none;
}
#noticeTable{
	border-collapse: collapse;
	padding : 0px;
	margin:0px;
	width : 100%;
	border:none;
	border-spacing:0px !important;
	font-family: 'Nanum Brush Script', cursive;
}

.noticeTr{
	height : 90px;
}

.noticeAttr{
	padding : 0px;
	width : 370px;
	height : 270px !important;
	cursor: pointer;
}

.noticeTitle{
	
	cursor : pointer;
}

#noticeLast{
	background-color: #f1f1c1;
	height : 90px;
}
#close{
	width : 12px;
	background-color : #fff;
	margin-left : 800px;
}

.closeBtn{
	background-color : #fff;
	cursor : pointer;
}

#tabs > ul > li{
	font-family : 'Nanum Brush Script', cursive;
	font-size : 25px;
}

#contentMain {
	font-family : 'Nanum Brush Script', cursive;
	width : 100%;
	overflow: hidden;
	box-sizing: border-box;
}

#contentleft{
	width : 64%;
	margin-left : 10px;
	float : left;
}

#contentleft1{
	width : 100%;
	height : 400px;
}

#contentset{
	margin-top : 30px;
}

#contentImg{
	width : 100%;
	height : 100%;
}

#contentleft3{
	border : 1px solid black;
	margin-top : 20px;
	overflow : hidden;
}

#left3_1{
	border : 1px solid green;
	width : 42%;
	margin-left : 4%;
	margin-right : 4%;
	float : left;
}

#left3_1_img{
	width : 23%;
	height : 100px;
	background-image: url('/img/petSitterImg/petSitterToImg1.jpg');
	background-repeat: no-repeat; 
	background-size: contain;
	float:left;
}

#left3_1_text{
	font-size : 24px;
	float:left;
	
}

#left3_1_textPre{
	
	font-size : 24px;
	font-family: 'Nanum Brush Script', cursive;
}

#left3_2{
	border : 1px solid blue;
	width : 42%;
	float : left;
}

#left3_2_img{
	width : 30%;
	height : 100px;
	background-image: url('/img/petSitterImg/petSitterToImg2.jpg');
	background-repeat: no-repeat; 
	background-size: contain;
	float : left;
}

#left3_2_text{
	float : left;
	font-size : 24px;
}

#contentright{
	margin-left : 20px;
	width : 33%;
	float : left;
	text-align: center;
}

#contentright1{
	border : 1px solid #d1d1d1;
	border-radius: 5px;
	
}

#contentDate{
	margin : 0 auto;
	width : 350px;
	height : 25px;
	border : 1px solid gray;
	border-radius: 5px;
	margin-top : 20px;
}

#dateStart, #dateEnd{
	margin-top : 2px;
	outline : none;
	width : 100px;
	height : 20px;
	border : none;
}
#timeStart, #timeEnd{
	margin-top : 2px;
	outline : none;
	width : 50px;
	height : 20px;
	border : none;
}

#contentPrice{
	margin : 20px;
	line-height: 200%;
}

.priceDt{
	float:left;
	text-align : left;
	border-top : 1px solid gray;
	width : 60%;
}

.priceDd{
	float:left;
	text-align : right;
	border-top : 1px solid gray;
	width : 40%;
}
#resultBtn{
	padding : 10px 20px 10px 20px;
	border-radius: 10px;
	background-color : #5cbb86;
	font-size : 18px;
	font-weight: bold;
	color : #fff;
}
.dlLast{
	border-bottom : 1px solid gray;
}

#res { position:relative; margin-top : 90px; margin-bottom : 20px;}

#contentright2{ 
	margin-top : 30px; 
	border : 1px solid #d1d1d1;
	border-radius: 5px;
}

#faqSearch{
	background-image: url("/img/petSitterImg/faqImage.png");
	background-position: center;
    background-size: cover;
    height: 400px;
    text-align: center;
    width: 100%;
}

#faqSearchMain{
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 610px;
    margin: 0 auto;
}

#faqSearchWord{
    background-color: #f1f1f1;
    padding: 12px 45px 14px 21px;
    border: none;
    border-radius: 50px;
    width: 400px;
    height: 20px;
    outline: none;
}

#faqTable{
	width : 900px;
	margin : 0 auto;
	font-family : 'Nanum Brush Script', cursive;
	margin-top : 20px;
	text-align: center;
}

#faqTable > span {
	font-size : 32px;
	font-weight: bold;
}

#faq{
	width : 900px;
	border : 1px solid black;
	border-collapse: collapse;
	border-spacing: 0px;
}

#topMove{
	position : fixed;
    right: 250px;
    bottom: 140px;
}

#faqDetail {
	box-sizing: border-box;
	width : 100%;
	
}

#faqDetailTop{
	margin : 0 auto;
	overflow: hidden;
	width : 900px;
}

#faqTitle{
	width : 690px;
	padding-left : 10px;
	border-bottom : 1px solid black;
	float : left;
	font-size : 24px;
	height : 30px;
}

#faqDate{
	width : 190px;
	text-align: right;
	padding-right : 10px;
	border-bottom : 1px solid black;
	float : left;
	font-size : 24px;
	height : 30px;
}

#faqDetailMain{
	width : 900px;
	margin : 0 auto;
	text-align: left;
	font-size : 16px;
	margin-top : 10px;	
}

#index {
	width : 50px;
	height : 20px;
	float : right;
	text-align: center;
	margin-top : 50px;
	margin-right : 150px;
}

#indexMove{
	border : 1px solid black;
	display : block;
	border-radius: 10px;
	font-size : 16px;
}

#indexMove:hover{
	border : 1px solid #17aaff;
	display:bloack;
	border-radius : 10px;
	font-size : 16px;
	background-color : #17aaff;
	color : #fff;
}

#sitToMain{
	width: 900px;
    margin: 0 auto;
    min-height: 600px;
    background-color: #f1f1f1;
    border-radius: 20px;
}

#addressDiv{
	margin : 0 auto;
	overflow: hidden;
	font-family: 'Work Sans', sans-serif;
}

#addressDiv1{
	height : 70px;	
}

#addressDiv2{
	margin : 0 auto;
	font-size : 22px;
	font-weight : bold;
	width : 500px;
	float : center;
}

#addressDiv3{
	margin-right : 110px;
	float:right;
	font-size : 16px;
}

#addressDiv3 > a > span {
	color: #fff;
    padding: 5px;
    background-color: #8b8b8b;
    border-radius: 10px;
}

#address{
	font-size : 18px;
	color : #7b7b7b;
	margin : 0 auto;
	width : 400px;
	float : center;
	border-bottom : 1px solid #7b7b7b;
	text-align: center;
}

#mypetDiv{
	margin : 0 auto;
	margin-top : 30px;
	overflow: hidden;
	font-family: 'Work Sans', sans-serif;
}

#mypet{
	margin : 0 auto;
	margin-top : 10px;
	font-size : 30px;
	font-family : 'Nanum Brush Script', cursive;
	color : #7b7b7b;
	margin-left : 200px;
}

#mypetDiv1{
	height : 70px;	
}

#mypetDiv2{
	margin : 0 auto;
	font-size : 22px;
	font-weight : bold;
	width : 500px;
	float : center;
}

#mypetDiv3{
	margin-right : 110px;
	float:right;
	font-size : 16px;
}

#mypetDiv3 > a > span {
	color: #fff;
    padding: 5px;
    background-color: #8b8b8b;
    border-radius: 10px;
}


.activeCb
{ background-color: #666666; }

.activeCb1
{ background-color: #fff; }


input[name="mypet1"]+label {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #bcbcbc;
	cursor: pointer;
}

input[name="mypet1"]:checked+label {
	background-color: #666666;
}


input[name="mypet1"] {
	display: none;
}

#scheduleDiv{
	margin-top : 20px;
}

#scheduleDiv1{
	margin : 0 auto;
	font-size : 22px;
	font-weight : bold;
	width : 500px;
	float : center;
}

#schedule{
	margin-left :200px;
	margin-top : 20px;
}

#schedule > span {
	font-size : 20px;
	font-family : 'Nanum Brush Script', cursive; 
	color : #0397d2;
}

#dateChooice{
	width : 200px;
	height : 30px;
	font-size : 30px;
	font-family : 'Nanum Brush Script', cursive; 
	border-radius: 10px;
	box-shadow: 2px 2px 3px 4px #ccc;
	text-align: center;
	outline: none;
}

.timeSelect{
	margin-left : 20px;
	width : 130px;
	height : 40px;
	font-size : 24px;
	font-family: 'Nanum Brush Script', cursive; 
	border-radius: 10px;
	box-shadow: 2px 2px 3px 4px #ccc;
	text-align-last: center;
	outline: none;
}

#mypetOk{
	margin : 0 auto;
	margin-top : 30px;
	text-align: center;
}

#sitFromBtn{
	padding : 5px 50px 5px 50px;
	font-size : 40px;
	font-family: 'Nanum Brush Script', cursive; 
	color : #fff;
	background-color: #b1b1b1;
	border-radius: 10px;
	box-shadow: 2px 2px 0px #868686;
	cursor: pointer;
}

/* #sitFromBtn:hover{ */
/* 	padding : 5px 50px 5px 50px; */
/* 	font-size : 40px; */
/* 	font-family: 'Nanum Brush Script', cursive;  */
/* 	color : #fff; */
/* 	background-color: #2f2f2f; */
/* 	border-radius: 10px; */
/* 	box-shadow: 2px 2px 0px #868686; */
/* 	cursor: pointer; */
/* } */

#sitFromBtn:active{
	padding : 5px 50px 5px 50px;
	font-size : 40px;
	font-family: 'Nanum Brush Script', cursive; 
	color : #fff;
	background-color: #2f2f2f;
	border-radius: 10px;
	box-shadow: -2px -2px 0px #868686;
	cursor: pointer;
}

#difficulty{
	margin : 0 auto;
	margin-top : 10px;
	width : 100%;
	overflow : hidden;
}

#dWord {
	float:left;
	margin-left : 200px;	
}

#dTextArea{
	margin-left: 10px;
	float:left;
}