@charset "UTF-8";
	*{margin:0; padding: 0; }
	
	#mainMenu{
		width:1200px;
		margin: 0 auto;
	}
	
	#shopmenu {
		width:1000px;
		margin: 0 auto;
		text-align : center;
		height: 50px;
	}
	
	.mainmenu-li {
	background-color: #ff8800;
	width: 120px;
	float: left;
	padding: 0px;
	margin: 0px;
	margin-top: 5px;
	margin-left: 5px;
	color: white;
	text-align: center;
	border-radius:50px;
	padding: 7px;
	border:1px solid #e8932c;
	}

	.mainmenu-li:hover{
	color: black;
	background-color: white;
	border:1px solid #ff8800;
	width: 120px;
	}